﻿
<div class="alert alert-success">
    <div class="panel-heading"></div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-4">
                <p>Yes: will create New Datasheet With Same Datahseet No. Old one will be moved to not in Use </p>
                <p>No:   </p>
                @Html.ActionLink("Yes", "AddNewDataSheet", "NewDataSheet", null, new { @class = "btn btn-danger" })
                @Html.ActionLink("No", "Index", "Data", null, new { @class = "btn btn-info" })
            </div>
      
        </div>
        <div class="row">

           
        </div>
        <div class="row">
           
        </div>
    </div>
</div>