﻿@model IEnumerable<MarineDataSheet.Aftercooler_power_correction_factor>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
  
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Maximum working pressure (barg)")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weighting)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.powercorrection)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.weightingactual)
            </td>
          
        </tr>
    }
    
    </table>
</body>
</html>
