﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1" />

    <script type="text/javascript">

        function disableBackButton() {
            window.history.forward();
        }
        setTimeout("disableBackButton()", 0);

        window.onunload = function () {
            null
        };

    </script>

    <title>@ViewBag.Title - Tamrotor</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Login.css" rel="stylesheet" />
    <link href="~/Scripts/datetimepicker/jqueryui.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    
    <div class="container body-content">
        <script src="~/Scripts/datetimepicker/jquery-1.12.4.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/Scripts/datetimepicker/jqueryui.js"></script>

        @RenderBody()
        <hr />
        <footer>
            <p></p>
        </footer>
    </div>

</body>
</html>
