﻿@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
    Layout = null;
}

<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="-1" />

<style>
    .center {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
        margin-top: auto;
    }
</style>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="span12">
            <div class="hero-unit center">
                <h1>
                    Something went wrong
                    <small>
                        <font face="Tahoma" color="red">Error</font>
                    </small>
                </h1>

                @if (TempData["ErrorMessage"] != null)
                {
                    <div class="alert alert-danger">
                        <strong>Oops!</strong> @TempData["ErrorMessage"]
                    </div>
                }
                else
                {
                    <div class="alert alert-danger">
                        <strong>Oops!</strong> An error occurred while processing your request.
                    </div>
                }
                <br />
                <p>The page you requested could not be found, either contact your webmaster or try again. Use your browsers <b>Back</b> button to navigate to the page you have prevously come from</p>
                <p><b>Or you could just press this neat little button:</b></p>
                <a href="/Login/Login" class="btn btn-large btn-info"><i class="icon-home icon-white"></i> Take Me Home</a>
            </div>
            <br />



            <p></p>
            <!-- By ConnerT HTML & CSS Enthusiast -->
        </div>
    </div>
</div>

