﻿@model IEnumerable<MarineDataSheet.RPT_GetReportData_isot_SA_IE3_EAEW>
@{
    Layout = null;
}

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
        border: 1px solid black;
        font-size: small;
        font-family: Arial;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
        border-bottom: 2px solid black;
    }

    tr:nth-child(odd) {
        background-color: #f2f2f2;
        border-bottom: 2px solid black;
    }

    hr.header {
        border: 2px solid black;
        border-radius: 3px;
    }

    div.a {
        font-size: 10px;
    }
</style>
<!DOCTYPE html>
<div style="text-align: right">
    <img src="~/Images/TMCLogo.jpg" height="70" />
    <br />
</div>
@foreach (var item in Model)
{
    <hr class="header">
    <table>
        <tr>
            <td>
                <strong>@Html.Name("Doc no:") @Html.Label(item.Datasivun_numero)</strong>
               
            </td>
            <td> <strong>@Html.Name(item.Maximum_working_pressure_barg_model)</strong></td>
        </tr>
    </table>
       <br />
    <table>
        <tr>
            <td>
                <strong>@Html.Name(item.C1Voltage)</strong>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; 
                <strong>@Html.Name(item.C2Voltage ?? "")</strong>&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
                <strong>@Html.Name("Max Amb.") @Html.Name(item.Maximum_ambient_temperature_C.ToString() ?? "")&nbsp; &nbsp;@Html.Name("C°")</strong>

            </td>
            <td style="text-align:center">
                <strong>@Html.Name(item.Maximum_working_ressure_barg_HEADER.ToString())</strong>
            </td>
        </tr>
        <tr>
            <td>
                <strong> @Html.Name("Capacity and power consumption")</strong><br />
                @Html.Name("Normal working pressure (barg)")<br />
                @Html.Name("Capacity at normal working pressure (m³/h) min / max")<br />
                @Html.Name("Capacity at normal working pressure (m³/min) min / max)")<br />
                @Html.Name("Shaft power at normal working pr. (kW) min / max")<br />
                @Html.Name("Maximum working pressure (barg) / (MPag)")<br />
                @Html.Name("Minimum working pressure (barg) / (MPag)")<br />
                @Html.Name("Frequency min / max")<br />
                @Html.Name("Idling shaft power consumption (kW)")<br />
                @Html.Name("Male rotor speed (rpm) min / max")<br />
                @Html.Name("Transmission:") @Html.DisplayFor(model => item.TransmissionStatus)<br />
            </td>
            <td style="text-align:center">
                @Html.Name("  ")<br />
                @Html.DisplayFor(model => item.Normal_working_pressure_barg)<br />
                @Html.DisplayFor(model => item.Capacity_at_normal_working_pressure_min_max)<br />
                @Html.DisplayFor(model => item.Capacity_at_normal_working_pressure_min_min)<br />
                @Html.DisplayFor(model => item.Shaft_power_at_normal_working_pr_min_max)<br />
                @Html.DisplayFor(model => item.Maximum_working_pressure_barg)<br />
                @Html.DisplayFor(model => item.Minimum_working_pressure_barg)<br />
                @Html.DisplayFor(model => item.Frequency_min_max)<br />
                @Html.DisplayFor(model => item.Male_rotor_speed_min_max)<br />
                @Html.DisplayFor(model => item.Transmission1) / @Html.DisplayFor(model => item.Transmission2)<br />
                @Html.Name(item.Transmission.ToString()??"")<br />
            </td>
        </tr>
        <tr>
            <td>
                <strong>@Html.Name("Cooling")</strong> <br />
                @Html.Name("Allowed ambient temperature MIN - MAX (C°)")<br />
                @Html.Name("Compressed air temperature above cooling medium temp (C°)")<br />
                <strong>@Html.Name("Air cooled compressors (EA) *")</strong> <br />
                @Html.Name("Max. cooling air pressure drop (Pa)")<br />
                @Html.Name("Cooling air temperature rise (C°)")<br />
                <strong>@Html.Name("Water cooled compressors (EW)")</strong><br />
                @Html.Name("Water flow (l/s), Fresh water cooled at 60% air humidity / 45°C temp")<br />
                @Html.Name("Water in (max) / water out (max) (C°), Fresh water cooled")<br />
                @Html.Name("Min water inlet pressure with zero back pressure (bar)/(MPa) - fresh water")<br />
                @Html.Name("Water flow (l/s), Sea water cooled at 60% air humidity / 45°C temp")<br />
                @Html.Name("Water in (max) / water out (max) (C°), Sea water cooled")<br />
                @Html.Name("Min water inlet pressure with zero back pressure (bar)/(MPa) - sea water")<br />
                @Html.Name("Max. water inlet pressure (bar)")<br />
                @Html.Name("Water in / out T2 / T3 (Standard)")<br />
                @Html.Name("Oil cooler heat rejection (kW)")<br />
                @Html.Name("After cooler heat rejection (kW) at 60% air humidity / 45°C temp")<br />
                @Html.Name("Heat dissipation (kW) EA / EW")
            </td>
            <td style="text-align:center">
                @Html.Name("  ")<br />
                @Html.DisplayFor(model => item.Maximum_ambient_temperature)<br />
                @Html.DisplayFor(model => item.Compressed_air_temperature_above_cooling_medium_temperature)<br />
                @Html.Name("  ")<br />
                @Html.DisplayFor(model => item.Maximum_cooling_air_pressure_drop_Pa)<br />
                @Html.DisplayFor(model => item.Cooling_air_temperature_rise)<br />
                @Html.Name("  ")<br />
                @Html.DisplayFor(model => item.waterFlow_oilcooler)<br />
                @Html.DisplayFor(model => item.Water_in_water_out_Fresh_water_cooled)<br />
                @Html.DisplayFor(model => item.Minimum_water_inlet_pressure_with_zero_back_bar_MPa_Serial)<br />
                @Html.DisplayFor(model => item.waterFlow_oilcooler_sea)<br />
                @Html.DisplayFor(model => item.Water_in_water_out_Fresh_water_cooled_sea)<br />
                @Html.DisplayFor(model => item.Minimum_water_inlet_pressure_with_zero_back_bar_MPa_Parallel)<br />
                @Html.DisplayFor(model => item.Maximum_inlet_pressure_barg)<br />
                @Html.DisplayFor(model => item.Water_in_out_T2_T3)<br />
                @Html.DisplayFor(model => item.Oil_cooler_heat_rejection)<br />
                @Html.DisplayFor(model => item.After_cooler_heat_rejection)<br />
                @Html.DisplayFor(model => item.Heat_dissipation_EW)<br />
            </td>
        </tr>
        <tr>
            <td>
                <strong> @Html.Name("Motor and electrical values")</strong><br />
                @Html.Name("Main motor nominal power (kW)")<br />
                @Html.Name("Main motor protection details")<br />
                @Html.Name("Main motor temperature rise")<br />
                @Html.Name("Speed of rotation (rpm) - main motor min / max")<br />
                @Html.Name("Fan motor (kW) EA")<br />
                @Html.Name("Speed of rotation (rpm) - fan motor")<br />
                @Html.Name("Voltage tolerance")<br />
                @Html.Name("Fuse (max)(A) ")@Html.DisplayFor(model => item.voltage_1)<br />
                @*@Html.Name("Fuse (max) (")@Html.DisplayFor(model => item.Voltage_2)@Html.Name(") (A)")<br />*@
                @Html.Name("Current for package (A) ")@Html.DisplayFor(model => item.voltage_1)<br />
                @*@Html.Name("Current for package  (")@Html.DisplayFor(model => item.Voltage_2)@Html.Name(") (A)")<br />*@
                @Html.Name("Control voltage (V)")<br />
            </td>
            <td style="text-align:center">
                @Html.Name(" ")<br />
                @Html.DisplayFor(model => item.Main_motor_class_IP_55)<br />
                @Html.DisplayFor(model => item.Main_motor_protection_details)<br />
                @Html.DisplayFor(model => item.Main_motor_temperature_rise)<br />
                @Html.DisplayFor(model => item.Speed_of_rotation_rpm_min_max)<br />
                @Html.Name(item.Fan_motor_EA.ToString()??"")<br />
                @Html.DisplayFor(model => item.Speed_of_rotation_fan_motor)<br />
                @Html.DisplayFor(model => item.Voltage_tolerance)<br />
                @Html.DisplayFor(model => item.Fuse_max_1_Jännite_A)<br />
                @Html.DisplayFor(model => item.Current_for_package440)<br />
                @Html.DisplayFor(model => item.Control_voltage_V)<br />
            </td>
        </tr>
        <tr>
            <td>
                <strong> @Html.Name("General technical data")</strong> <br />
                @Html.Name("Cooling air flow for ventilation of compressor room (m³/s) EA / EW **")<br />
                @Html.Name("Oil quantity (l) EA / EW")<br />
                @Html.Name("Oil carryover (mg/m³)")<br />
                @Html.Name("Air outlet - air cooled T1 (Standard) ")<br />
                @Html.Name("Air outlet - water cooled T1 (Standard) ")<br />
                @Html.Name("Condensate drain T4 (Standard)")<br />
                @Html.Name("Weight with canopy (kg) EA / EW)")<br />
                @Html.Name("General arrangement drawing with canopy EW")<br />
                @Html.Name("General arrangement drawing with canopy EA")<br />
              
                @Html.Name("Cable gland: Power (Standard)")<br />
                @Html.Name("Cable gland: Alarm / Signal (Standard)")<br />
                <strong> @Html.Name("Noise data [dB(A)]")</strong> <br />
                @Html.Name("Sound pressure level (LpA) / power level (LWA) with canopy EW")<br />
                @Html.Name("Sound pressure level (LpA) / power level (LWA) with canopy EA")<br />
            </td>
            <td style="text-align:center">
                @Html.Name(" ")<br />
                @Html.DisplayFor(model => item.Cooling_air_flow_for_entilation_of_compressor_room)<br />
                @Html.DisplayFor(model => item.Oil_quantity_I)<br />
                @Html.DisplayFor(model => item.Oil_content_mg_m)<br />
                @Html.DisplayFor(model => item.Air_outlet_T1)<br />
                @Html.DisplayFor(model => item.Air_outlet_T1_water_cooled)<br />
                @Html.DisplayFor(model => item.Condensate_drain_T4)<br />
                @Html.DisplayFor(model => item.Weight_with_canopy_EA_EW)<br />
                @Html.DisplayFor(model => item.General_arrangement_drawing_with_NOVOX_canopy_EW)<br />
                @Html.DisplayFor(model => item.General_arrangement_drawing_with_NOVOX_canopy_EA)<br />
                @Html.DisplayFor(model => item.Cable_gland_Power)<br />
                @Html.DisplayFor(model => item.Cable_gland_Alarm_Signal)<br />
                @Html.Name(" ")<br />
                @Html.DisplayFor(model => item.Pressure_Level_LpA_with_NOVOX_canopy_EW)<br />
                @Html.DisplayFor(model => item.Pressure_Level_LpA_with_NOVOX_canopy_EA)<br />

            </td>
        </tr>
    </table>
    <br />
    <div>
        @Html.Name("Capacity and power consumption measured according to ISO 1217, Annex C")<br />
        @Html.Name("Noise values determined according to ISO 2151 and ISO 3744, Uncertainty KpA / KWA 3 dB")<br />
        @Html.Name("Motor nominal power and temperature rise according to IEC60034-1")<br />
        @Html.Name("* Air cooled data is based on 0% air humidity ** Calculated with 10°C temperature difference between room temp. and cooling air inlet temp.")<br />
        @Html.Name("Extra notes:")@Html.Name((string)item.Extra_notes ?? "")<br />
        @Html.Name("DOC. REF.:")@Html.DisplayName(item.Datasivun_numero) @Html.Name("REV.") @Html.DisplayName(item.Datasheet_revision ?? "") @Html.Name(item.Valid_from)

    </div>
}





