﻿@model IEnumerable<MarineDataSheet.RPT_GetReportData_Datasivu_WD>
@{
    Layout = null;
}

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
        border: 1px solid black;
        font-size: small;
        font-family: Arial;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
        border-bottom: 2px solid black;
    }

    tr:nth-child(odd) {
        background-color: #f2f2f2;
        border-bottom: 2px solid black;
    }

    hr.header {
        border: 2px solid black;
        border-radius: 3px;
    }

    div.a {
        font-size: 10px;
    }
</style>
<!DOCTYPE html>
<div style="text-align: right">
    <img src="~/Images/TICLogo.jpg" height="30" width="225" />
    <br />
</div>
@foreach (var item in Model)
{
    <hr class="header">
    
        <table>
            <tr>
                <td>
                    <strong>@Html.DisplayName("Doc no:") &nbsp; &nbsp; &nbsp;@Html.Name(item.Datasivun_numero ?? "")</strong>&nbsp; &nbsp;&nbsp; &nbsp;
                    <strong>@Html.Name(item.Maximum_working_pressure_barg_model)</strong>&nbsp; &nbsp;&nbsp; &nbsp;
                    <strong>@Html.DisplayName("Revision")</strong>&nbsp; &nbsp; &nbsp;<strong> @Html.Label(item.Datasheet_revision ?? "")</strong>&nbsp; &nbsp;
                </td>
                <td>
                    <strong>@Html.DisplayName("Valid From")</strong> <strong>@Html.Name(item.Valid_from ?? "")</strong>
                </td>
            </tr>
        </table>
    
    <br/>
    <table>
        <tr>
            <td>
                <strong>@Html.Name(item.C1Voltage)</strong>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;
                <strong>@Html.Name(item.C2Voltage ?? "")</strong>
                <strong>@Html.Name("Max Amb.")</strong>&nbsp; &nbsp;&nbsp;<strong>@Html.DisplayFor(model => item.maximum_ambient_temperature_hader)@Html.DisplayName("C°")</strong>
            </td>
            <td style="text-align:center">
                <strong>@Html.Name(item.Maximum_working_pressure_barg_Header.ToString())</strong>
            </td>
        </tr>
        <tr>
            <td>
                <strong> @Html.DisplayName("Capacity and power consumption")</strong><br/>
                @Html.DisplayName("Normal working pressure (barg)")<br/>
                @Html.DisplayName("Capacity at normal working pressure (m³/h)")<br/>
                @Html.DisplayName("Capacity at normal working pressure (m³/min)")<br/>
                @Html.Name("Shaft power at normal working pr. (kW)")<br/>
                @Html.DisplayName("Maximum working pressure (barg) / (MPag)")<br/>
                @Html.DisplayName("Minimum working pressure (barg) / (MPag)")<br/>
                @Html.DisplayName("Idling shaft power consumption (kW)")<br/>
                @Html.DisplayName("Male rotor speed (rpm)")<br/>
                @Html.DisplayName("Transmission:") @Html.DisplayFor(model => item.TransmissionStatus)<br/>
            </td>
            <td style="text-align:center">
                @Html.DisplayName("  ")<br />
                @Html.DisplayFor(model => item.Normal_working_pressure_barg)<br />
                @Html.DisplayFor(model => item.Capacity_at_normal_working_pressure_min_max)<br />
                @Html.DisplayFor(model => item.Capacity_at_normal_working_pressure_min_min)<br />
                @Html.DisplayFor(model => item.Shaft_power_at_normal_working_pr_min_max)<br />
                @Html.DisplayFor(model => item.Maximum_working_pressure_barg)<br />
                @Html.DisplayFor(model => item.Minimum_working_pressure_barg)<br />
                @Html.DisplayFor(model => item.Idling_shaft_power_consumption)<br />
                @Html.DisplayFor(model => item.Male_rotor_speed_min_max)<br />
                @Html.DisplayName("  ")<br />
            </td>
        </tr>
        <tr>
            <td>
                <strong>@Html.DisplayName("Cooling")</strong> <br/>
                @Html.DisplayName("Allowed ambient temperature MIN - MAX (C°)")<br/>
                @Html.DisplayName("Compressed air temperature above cooling medium temp(C°)")<br/>
                <strong>@Html.DisplayName("Air cooled compressors (EA)")</strong><br/>
                @Html.DisplayName("Cooling air flow (m³/s)")<br/>
                @Html.Name("Max.cooling air pressure drop (Pa)")<br/>
                @Html.DisplayName("Cooling air temperature rise (C°)")<br/>
                <strong>@Html.DisplayName("Water cooled compressors (EW)")</strong><br/>
                @Html.DisplayName("Water flow (l/s), Fresh water cooled")<br/>
                @Html.DisplayName("Water in / water out (C°), Fresh water cooled")<br/>
                @Html.DisplayName("Water flow (l/s), Sea water cooled")<br/>
                @Html.DisplayName("Water in / water out (C°), Sea water cooled")<br/>
                @Html.DisplayName("Min water inlet pressure with zero back pressure (bar)/(MPa) (Serial)")<br/>
                @Html.Name("Max. water inlet pressure (bar)")<br/>
                @Html.DisplayName("Water in / out T4 / T3")<br/>
                @Html.DisplayName("Oil cooler heat rejection (kW)")<br/>
                @Html.DisplayName("After cooler heat rejection (kW)")<br/>
                @Html.DisplayName("Heat dissipation (kW) EA / EW")<br/>

            </td>
            <td style="text-align:center">
                @Html.Display("  ")<br />
                @Html.DisplayFor(model => item.Maximum_ambient_temperature)<br />
                @Html.DisplayFor(model => item.Compressed_air_temperature_above_cooling_medium_temperature)<br />
                @Html.Display("  ")<br />
                @Html.DisplayFor(model => item.Cooling_air_flow)<br />
                @Html.DisplayFor(model => item.Maximum_cooling_air_pressure_drop_Pa)<br />
                @Html.DisplayFor(model => item.cooling_air_temperature_rise)<br />
                @Html.Display("  ")<br />
                @Html.DisplayFor(model => item.Water_in_water_out_Fresh_water_cooled)<br />
                @Html.DisplayFor(model => item.Combine_water_in_out)<br />
                @Html.DisplayFor(model => item.Water_in_sea_out_Fresh_water_cooled)<br />
                @Html.DisplayFor(model => item.Water_in_water_out_Fresh_water_cooled_sea)<br />
                @Html.DisplayFor(model => item.Minimum_water_inlet_pressure_with_zero_back_bar_MPa_Serial)<br />
                @Html.DisplayFor(model => item.Maximum_inlet_pressure_barg)<br />
                @Html.DisplayFor(model => item.water_in_out_t2_t4)<br />
                @Html.DisplayFor(model => item.oil_cooler_heat_rejection)<br />
                @Html.DisplayFor(model => item.After_cooler_heat_rejection)<br />
                @Html.DisplayFor(model => item.Heat_dissipation_EA_EW)<br />
            </td>
        </tr>
        <tr>
            <td>
                <strong> @Html.Label("Motor and electrical values", new { @class = "lbl-danger" })</strong><br />
                @Html.Name("Main motor: F-class. IP 55 (kW)")<br />
                @Html.DisplayName("Speed of rotation (rpm) - main motor")<br />
                @Html.DisplayName("Fan motor (kW) EA / EW")<br />
                @Html.DisplayName("Speed of rotation (rpm) - fan motor")<br />
                @Html.DisplayName("Fuse (max) (")@Html.DisplayFor(model => item.voltage_1)@Html.DisplayName(") (A)")<br />
                @Html.DisplayName("Fuse (max) (")@Html.DisplayFor(model => item.Voltage_2)@Html.DisplayName(") (A)")<br />
                @Html.DisplayName("Current for package  (")@Html.DisplayFor(model => item.voltage_1)@Html.DisplayName(") (A)")<br />
                @Html.DisplayName("Current for package  (")@Html.DisplayFor(model => item.Voltage_2)@Html.DisplayName(") (A)")<br />
                @Html.DisplayName("Starting current la/ln DOL / Y/D")<br />
                @Html.DisplayName("Control voltage (V)")<br />

            </td>
            <td style="text-align:center">
                @Html.DisplayName(" ")<br />
                @Html.DisplayFor(model => item.Main_motor_F_class_IP_55_kW)<br />
                @Html.DisplayFor(model => item.Speed_of_rotation_rpm)<br />
                @Html.Name(item.Fan_motor_kW_EA.ToString().Replace("0","") ?? "") / @Html.Name(item.Fan_motor_kW_EW.ToString().Replace("0","") ?? "")<br />
                @Html.DisplayFor(model => item.Speed_of_rotation_rpm_fan_motor)<br />
                @Html.DisplayFor(model => item.Fuse_max_1_Jännite_A)<br />
                @Html.DisplayFor(model => item.Fuse_max_2_Jännite_A)<br />
                @Html.DisplayFor(model => item.Current_Package_440)<br />
                @Html.DisplayFor(model => item.Current_Package_660)<br />
                @Html.DisplayFor(model => item.Starting_current_Ia_In_DOL_YD_SOFT_START)<br />
                @Html.DisplayFor(model => item.Control_voltage_V)<br />
            </td>
        </tr>
        <tr>
            <td>
                <strong> @Html.DisplayName("General technical data")</strong> <br />
                @Html.DisplayName("Oil quantity (l)")<br />
                @Html.DisplayName("Oil carryover (mg/m³)")<br />
                @Html.DisplayName("Air outlet T1")<br />
                @Html.DisplayName("Condensate drain T2")<br />
                @Html.DisplayName("Weight with canopy (kg)")<br />
                @Html.DisplayName("General arrangement drawing with canopy EA")<br />
                @Html.DisplayName("General arrangement drawing with canopy EW")<br />
                @Html.DisplayName("Cable gland: Power")<br />
                @Html.DisplayName("Cable gland: Alarm / Signal")<br />
                <strong> @Html.Label("Noise data* [dB(A)]")</strong> <br />
                @Html.Label("Sound pressure level (LpA) / power Level (LWA) with canopy EA")<br />
                @Html.Label("Sound pressure level (LpA) / power Level (LWA) with canopy EW")<br />
            </td>
            <td style="text-align:center">
                @Html.DisplayName(" ")<br />
                @Html.DisplayFor(model => item.Oil_quantity_I)<br />
                @Html.DisplayFor(model => item.Oil_content_mg_m)<br />
                @Html.DisplayFor(model => item.Air_outlet_T1)<br />
                @*@Html.DisplayFor(model => item.Air_outlet_T1_water_cooled)<br />*@
                @Html.DisplayFor(model => item.Condensate_drain_T4)<br />
                @Html.DisplayFor(model => item.Weight_with_NOVOX_canopy)<br />
                @Html.DisplayFor(model => item.General_arrangement_drawing_with_NOVOX_canopy_EA)<br />
                @Html.DisplayFor(model => item.General_arrangement_drawing_with_NOVOX_canopy_EW)<br />
                @Html.DisplayFor(model => item.Cable_gland_Power)<br />
                @Html.DisplayFor(model => item.Cable_gland_Alarm_Signal)<br />
                @Html.DisplayName(" ")<br />
                @Html.DisplayFor(model => item.Pressure_Level_LpA_with_NOVOX_canopy_EA)<br />
                @Html.DisplayFor(model => item.Pressure_Level_LpA_with_NOVOX_canopy_EW)<br />
            </td>
        </tr>
    </table>
    <br/>
    <div>
        @Html.Name("Capacity and power consumption measured according to ISO 1217, Annex C")<br/>
        @Html.Name("* Noise values determined according to ISO 2151 and ISO 3744, Uncertainty Kpa / Kwa 3dB")<br/>
        @Html.Name("Extra notes:")
        @Html.Name((string)item.Extra_notes??"")<br/>

    </div>
}

