﻿@model IEnumerable<MarineDataSheet.RPT_GetReportData_isot_UUSI>
@{
    Layout = null;
}

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
        border: 1px solid black;
        font-size: small;
        font-family: Arial;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
        border-bottom: 2px solid black;
    }

    tr:nth-child(odd) {
        background-color: #f2f2f2;
        border-bottom: 2px solid black;
    }

    hr.header {
        border: 2px solid black;
        border-radius: 3px;
    }

    div.a {
        font-size: 10px;
    }
</style>
<!DOCTYPE html>
<div style="text-align: right">
    <img src="~/Images/TMCLogo.jpg" height="70" />
    <br/>
</div>
@foreach (var item in Model)
{
    <hr class="header">
    <table>
        <tr>
            <td>
                <strong>@Html.DisplayName("Doc no:")&nbsp;&nbsp; &nbsp;@Html.Label(item.Datasivun_numero)</strong>&nbsp;&nbsp; &nbsp;

                <strong>@Html.DisplayName("Revision")</strong>&nbsp;&nbsp; &nbsp;<strong> @Html.Label(item.Datasheet_revision ?? "")</strong>&nbsp;&nbsp; &nbsp;
                <strong> @Html.Label(item.Maximum_working_pressure_barg_model)</strong>
</td>
            <td> 
                <strong>@Html.DisplayName("Valid From")</strong> &nbsp;&nbsp; &nbsp;<strong>@Html.Name(item.Valid_from ?? "")</strong>
            </td>
        </tr>
    </table>
        <br />
    <table>
        <tr>
            <td>
                <strong>@Html.Label(item.C1Voltage ?? "")</strong>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                <strong>@Html.Label(item.C2Voltage ?? "")</strong> &nbsp; &nbsp;&nbsp; &nbsp;
                <strong>@Html.Name("Max Amb.")</strong> &nbsp;&nbsp; &nbsp;<strong>@Html.Label(item.Max_Amb)&nbsp; &nbsp;C&#176;</strong>
            </td>
            <td style="text-align:center">
                <strong>@Html.Name(item.Maximum_working_pressure__barg_.ToString())</strong>
            </td>
        </tr>
        <tr>
            <td>
                <strong> @Html.DisplayName("Capacity and power consumption")</strong><br/>
                @Html.DisplayName("Normal working pressure (barg)")<br/>
                @Html.DisplayName("Capacity at normal working pressure (m³/h)")<br/>
                @Html.DisplayName("Capacity at normal working pressure (m³/min)")<br/>
                @Html.DisplayName("Shaft power at normal working pressure (kW)")<br/>
                @Html.DisplayName("Maximum working pressure (barg) / (MPag)")<br/>
                @Html.DisplayName("Minimum working pressure (barg) / (MPag)")<br/>
                @Html.DisplayName("Idling shaft power consumption (kW)")<br/>
                @Html.DisplayName("Male rotor speed (rpm)")<br/>
                @Html.DisplayName("Transmission:") @Html.DisplayFor(model => item.TransmissionStatus)<br/>
            </td>
            <td style="text-align:center">
                @Html.DisplayName("  ")<br />
                @Html.DisplayFor(model => item.Normal_working_pressure_barg)<br />
                @Html.DisplayFor(model => item.Capacity_at_normal_working_pressure_h)<br />
                @Html.DisplayFor(model => item.Capacity_at_normal_working_pressure_min)<br />
                @Html.DisplayFor(model => item.Shaft_power_at_normal_working_pr_KW)<br />
                @Html.DisplayFor(model => item.Maximum_working_pressure_barg)<br />
                @Html.DisplayFor(model => item.Minimum_working_pressure_barg)<br />
                @Html.DisplayFor(model => item.Idling_shaft_power_consumption)<br />
                @Html.DisplayFor(model => item.Male_rotor_speed_min_max)<br />
                @Html.Name(item.Transmission.ToString()??"")<br />
            </td>
        </tr>
        <tr>
            <td>
                <strong>@Html.DisplayName("Cooling")</strong> <br/>
                @Html.DisplayName("Allowed ambient temperature MIN - MAX (C°)")<br/>
                @Html.DisplayName("Compressed air temperature above cooling medium temp (C°)")<br/>
                <strong>@Html.DisplayName("Water cooled compressors (EW)")</strong><br/>
                @Html.DisplayName("Water flow (l/s), Fresh water cooled at 60% air humidity / 45°C temp *")<br/>
                @Html.DisplayName("Water in (max) / water out (max) (C°), Fresh water cooled")<br/>
                @Html.DisplayName("Min water inlet pressure with zero back pressure (bar)/(MPa) - fresh water")<br/>
                @Html.DisplayName("Water flow (l/s), Sea water cooled at 60% air humidity / 45°C temp *")<br/>
                @Html.DisplayName("Water in (max) / water out (max) (C°), Sea water cooled")<br/>
                @Html.DisplayName("Min water inlet pressure with zero back pressure (bar)/(MPa) - sea water")<br/>
                @Html.Name("Max. water inlet pressure (bar)")<br/>
                @Html.DisplayName("Water in / out T2 / T3 (Standard)")<br/>
                @Html.DisplayName("Oil cooler heat rejection (kW)")<br/>
                @Html.DisplayName("After cooler heat rejection (kW) at 60% air humidity / 45°C temp")<br/>
                @Html.DisplayName("Heat dissipation (kW) EW")<br/>

            </td>
            <td style="text-align:center">
                @Html.Display("  ")<br />
                @Html.DisplayFor(model => item.Allowed_ambient_temperature_MIN_MAX)<br />
                @Html.DisplayFor(model => item.Compressed_air_temperature_above_cooling_medium_temperature)<br />
                @Html.Display("  ")<br />
                @Html.DisplayFor(model => item.Waterflow__l_s___Fresh_water_cooled_at__60__air_humidity___45C_temp___)<br />
                @Html.DisplayFor(model => item.Water_in_water_out_Fresh_water_cooled)<br />
                @Html.DisplayFor(model => item.Minimum_water_inlet_pressure_with_zero_back_bar_MPa_Serial)<br />
                @Html.DisplayFor(model => item.Waterflow__l_s___Sea_water_cooled_at__60__air_humidity___45C_temp___)<br />
                @Html.DisplayFor(model => item.Water_in_water_out_Sea_water_cooled)<br />
                @Html.DisplayFor(model => item.Minimum_water_inlet_pressure_with_zero_back_bar_MPa_Parallel_sea)<br />
                @Html.DisplayFor(model => item.Maximum_inlet_pressure_barg)<br />
                @Html.DisplayFor(model => item.water_in_out_t3_standard)<br />
                @Html.DisplayFor(model => item.oil_cooler_heat_rejection)<br />
                @Html.DisplayFor(model => item.After_cooler_heat_rejection)<br />
                @Html.DisplayFor(model => item.Heat_dissipation_kW_EW)<br />
            </td>
        </tr>
        <tr>
            <td>
                <strong> @Html.DisplayName("Motor and electrical values")</strong><br />
                @Html.DisplayName("Main motor nominal power (kW)")<br />
                @Html.DisplayName("Main motor protection details")<br />
                @Html.DisplayName("Speed of rotation (rpm) - main motor")<br />
                @Html.DisplayName("Voltage tolerance")<br />
                @Html.DisplayName("Fuse (max) (")@Html.DisplayFor(model => item.Voltage_1)@Html.DisplayName(") (A)")<br />
                @Html.DisplayName("Fuse (max) (")@Html.DisplayFor(model => item.Voltage_2)@Html.DisplayName(") (A)")<br />
                @Html.DisplayName("Current for package  (")@Html.DisplayFor(model => item.Voltage_1)@Html.DisplayName(") (A)")<br />
                @Html.DisplayName("Current for package  (")@Html.DisplayFor(model => item.Voltage_2)@Html.DisplayName(") (A)")<br />
                @Html.DisplayName("Starting current la/ln DOL / Y/D / SOFT")<br />
                @Html.DisplayName("Control voltage (V)")<br />

            </td>
            <td style="text-align:center">
                @Html.DisplayName(" ")<br />
                @Html.DisplayFor(model => item.Main_motor_nominal_power_kW)<br />
                @Html.DisplayFor(model => item.Main_motor_protection_details)<br />
                @Html.DisplayFor(model => item.Speed_of_rotation_rpm_main_motor_min)<br />
                @Html.DisplayFor(model => item.Voltage_tolerance)<br />
                @Html.DisplayFor(model => item.Fuse_max_1_Jännite_A)<br />
                @Html.DisplayFor(model => item.Fuse_max_2_Jännite_A)<br />
                @Html.DisplayFor(model => item.Current_for_package440)<br />
                @Html.DisplayFor(model => item.Current_for_package640)<br />
                @Html.DisplayFor(model => item.Starting_current_Ia_In_DOL_YD_SOFT_START)<br />
                @Html.DisplayFor(model => item.Control_voltage_V)<br />
            </td>
        </tr>
        <tr>
            <td>
                <strong> @Html.DisplayName("General technical data")</strong> <br />
                @Html.DisplayName("Cooling air flow for ventilation of compressor room (m³/s) **")<br />
                @Html.DisplayName("Oil quantity (l)")<br />
                @Html.DisplayName("Oil carryover (mg/m³)")<br />
                @Html.DisplayName("Air outlet - water cooled T1 (Standard) ")<br />
                @Html.DisplayName("Condensate drain T4 (Standard)")<br />
                @Html.DisplayName("Weight without canopy (kg)")<br />
                @Html.DisplayName("Weight with canopy (kg)")<br />
                @Html.Name("General arrangement drawing S.W.")<br />
                @Html.Name("General arrangement drawing F.W.")<br />
                @Html.DisplayName("General arrangement drawing with canopy EW")<br />
                @Html.DisplayName("Cable gland: Power (Standard)")<br />
                @Html.DisplayName("Cable gland: Alarm / Signal (Standard)")<br />
                <strong> @Html.DisplayName("Noise data*** [dB(A)]")</strong> <br />
                @Html.DisplayName("Sound pressure level (LpA) / power level (LWA) without canopy EW ")<br />
                @Html.DisplayName("Sound pressure level (LpA) / power level (LWA) with canopy EW")<br />
            </td>
            <td style="text-align:center">
                @Html.DisplayName(" ")<br />
                @Html.DisplayFor(model => item.Cooling_air_flow_for_ventilation_of_compressor_room_m3_s)<br />
                @Html.DisplayFor(model => item.Oil_quantity_I)<br />
                @Html.DisplayFor(model => item.Oil_content_mg_m)<br />
                @Html.DisplayFor(model => item.Air_outlet_T1_water_cooled)<br />
                @Html.DisplayFor(model => item.Condensate_drain_T4)<br />
                @Html.DisplayFor(model => item.Weight_without_canopy)<br />
                @Html.DisplayFor(model => item.Weight_with_NOVOX_canopy)<br />
                @Html.DisplayFor(model => item.General_arrangement_drawing_SW)<br />
                @Html.DisplayFor(model => item.General_arrangement_drawing_FW)<br />
                @Html.DisplayFor(model => item.General_arrangement_drawing_with_NOVOX_canopy_EW)<br />
                @Html.DisplayFor(model => item.Cable_gland_Power)<br />
                @Html.DisplayFor(model => item.Cable_gland_Alarm_Signal)<br />
                @Html.DisplayName(" ")<br />
                @Html.DisplayFor(model => item.Pressure_Level_LpA_with_out_canopy_EW)<br />
                @Html.DisplayFor(model => item.Pressure_Level_LpA_with_NOVOX_canopy_EW)<br />
            </td>
        </tr>
    </table>

    <br/>
    <div>
        @Html.Name("Capacity and power consumption measured according to ISO 1217, Annex C")<br />
        @Html.Name("* In case the humidity is higher, the water flow must be increased")<br />
        @Html.Name("** Calculated with 10°C temperature difference between room temp. and cooling air inlet temp.")<br />
        @Html.Name("*** Noise values determined according to ISO 2151 and ISO 3744, Uncertainty KpA / KWA 3 dBd")<br />
        @Html.Name("Extra notes:")@Html.Name((string)item.Extra_notes ?? "")<br />
        @Html.Name("DOC. REF.:")@Html.DisplayName(item.Datasivun_numero) @Html.Name("REV.") @Html.DisplayName(item.Datasheet_revision ?? "") @Html.Name(item.Valid_from)
    </div>
}

