﻿@model IEnumerable<MarineDataSheet.RPT_GetReportData_isot_SA>
@{
    Layout = null;
}

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
        border: 1px solid black;
        font-size: small;
        font-family: Arial;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
        border-bottom: 2px solid black;
    }

    tr:nth-child(odd) {
        background-color: #f2f2f2;
        border-bottom: 2px solid black;
    }

    hr.header {
        border: 2px solid black;
        border-radius: 3px;
    }

    div.a {
        font-size: 10px;
    }
</style>
<!DOCTYPE html>
<div style="text-align: right">
    <img src="~/Images/TMCLogo.jpg" height="70" />
    <br />
</div>
@foreach (var item in Model)
{
    <hr class="header">
    <table>
        <tr>
            <td>
                <strong>@Html.DisplayName("Doc no:") @Html.Label(item.Datasivun_numero)</strong>&nbsp; &nbsp; &nbsp;
                <strong>@Html.Name(item.Maximum_working_pressure_barg)</strong>
            </td>
            <td> <strong>@Html.DisplayName("Valid From")&nbsp; &nbsp; &nbsp;</strong> <strong>@Html.Name(item.Valid_from ?? "")</strong></td>
        </tr>
    </table>
    <br />
    <table>
        <tr>
            <td>
                <strong>@Html.Name(item.C1Voltage)</strong>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                <strong>@Html.Name(item.C2Voltage ?? "")</strong>&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
                
            </td>
            <td style="text-align:center">
                <strong>@Html.Name(item.Maximum_working_pressure_barg_HEADER.ToString())</strong>
            </td>
        </tr>
        <tr>
            <td>
                <strong> @Html.DisplayName("Capacity and power consumption")</strong><br />
                @Html.DisplayName("Normal working pressure (barg)")<br />
                @Html.DisplayName("Capacity at normal working pressure (m³/h) min / max")<br />
                @Html.DisplayName("Capacity at normal working pressure (m³/min) min / max)")<br />
                @Html.DisplayName("Shaft power at normal working pr. (kW) min / max")<br />
                @Html.DisplayName("Maximum working pressure (barg) / (MPag)")<br />
                @Html.DisplayName("Minimum working pressure (barg) / (MPag)")<br />
                @Html.DisplayName("Frequency min / max")<br />
                @Html.DisplayName("Idling shaft power consumption (kW)")<br />
                @Html.DisplayName("Male rotor speed (rpm) min / max")<br />
                @Html.DisplayName("Transmission:") @Html.DisplayFor(model => item.Transmission)<br />
            </td>
            <td style="text-align:center">
                @Html.DisplayName("  ")<br />
                @Html.DisplayFor(model => item.Normal_working_pressure_barg)<br />
                @Html.DisplayFor(model => item.Capacity_at_normal_working_pressure_min_max)<br />
                @Html.DisplayFor(model => item.Capacity_at_normal_working_pressure_min_min)<br />
                @Html.DisplayFor(model => item.Shaft_power_at_normal_working_pr_min_max)<br />
                @Html.DisplayFor(model => item.Maximum_working_pressure_barg)<br />
                @Html.DisplayFor(model => item.Minimum_working_pressure_barg)<br />
                @Html.DisplayFor(model => item.Frequency_min_max)<br />
                @Html.DisplayFor(model => item.Male_rotor_speed_min_max)<br />
                @Html.DisplayFor(model => item.Transmission1) / @Html.DisplayFor(model => item.Transmission2)<br />
                @Html.Name(item.Transmission.ToString() ?? "")<br />
            </td>
        </tr>
        <tr>
            <td>
                <strong>@Html.DisplayName("Cooling")</strong> <br />
                @Html.DisplayName("Allowed ambient temperature MIN - MAX (C°)")<br />
                @Html.DisplayName("Compressed air temperature above cooling medium temp (C°)")<br />
                <strong>@Html.DisplayName("Water cooled compressors (EW)")</strong><br />
                @Html.DisplayName("Water flow (l/s), Fresh water cooled")<br />
                @Html.DisplayName("Water in / water out (C°), Fresh water cooled")<br />
                @Html.DisplayName("Water flow (l/s), Sea water cooled")<br />
                @Html.DisplayName("Water in / water out (C°), Sea water cooled")<br />
                @Html.DisplayName("Min water inlet pressure with zero back pressure (bar)/(MPa) (Serial)")<br />
                @Html.DisplayName("Min water inlet pressure with zero back pressure (bar)/(MPa) (Parallel)")<br />
                @Html.Name("Max. water inlet pressure (bar)")<br />
                @Html.DisplayName("Water in / out T2 / T3")<br />
                @Html.DisplayName("Oil cooler heat rejection (kW)")<br />
                @Html.DisplayName("After cooler heat rejection (kW)")<br />
                @Html.DisplayName("Heat dissipation (kW) EW")<br />
            </td>
            <td style="text-align:center">
                @Html.Display("  ")<br />
                @Html.DisplayFor(model => item.Maximum_ambient_temperature)<br />
                @Html.DisplayFor(model => item.Compressed_air_temperature_above_cooling_medium_temperature)<br />
                @Html.Display("  ")<br />
                @Html.DisplayFor(model => item.waterFlow_oilcooler)<br />
                @Html.DisplayFor(model => item.Water_in_water_out_Fresh_water_cooled)<br />
                @Html.DisplayFor(model => item.waterFlow_oilcooler_sea)<br />
                @Html.DisplayFor(model => item.Water_in_water_out_Fresh_water_cooled_sea)<br />
                @Html.DisplayFor(model => item.Minimum_water_inlet_pressure_with_zero_back_bar_MPa_Serial)<br />
                @Html.DisplayFor(model => item.Minimum_water_inlet_pressure_with_zero_back_bar_MPa_Parallel)<br />
                @Html.DisplayFor(model => item.Maximum_inlet_pressure_barg)<br />
                @Html.DisplayFor(model => item.Water_in_out_T2_T3)<br />
                @Html.DisplayFor(model => item.Oil_cooler_heat_rejection)<br />
                @Html.DisplayFor(model => item.After_cooler_heat_rejection)<br />
                @Html.DisplayFor(model => item.Heat_dissipation_EW)<br />
            </td>
        </tr>
        <tr>
            <td>
                <strong> @Html.DisplayName("Motor and electrical values")</strong><br />
                @Html.DisplayName("Main motor: F-class. IP 55 (kW)")<br />
                @Html.DisplayName("Speed of rotation (rpm) - main motor min / max")<br />
                @Html.Label("Fuse (max) (")@Html.DisplayFor(model => item.voltage_1)@Html.DisplayName(") (A)")<br />
                @Html.Label("Fuse (max) (")@Html.DisplayFor(model => item.Voltage_2)@Html.DisplayName(") (A)")<br />
                @Html.Label("Current for package  (")@Html.DisplayFor(model => item.voltage_1)@Html.DisplayName(") (A)")<br />
                @Html.Label("Current for package  (")@Html.DisplayFor(model => item.Voltage_2)@Html.DisplayName(") (A)")<br />
                @Html.DisplayName("Control voltage (V)")<br />
            </td>
            <td style="text-align:center">
                @Html.DisplayName(" ")<br />
                @Html.DisplayFor(model => item.Main_motor_class_IP_55)<br />
                @Html.DisplayFor(model => item.Speed_of_rotation_rpm_min_max)<br />
                @Html.DisplayFor(model => item.Fuse_max_1_Jännite_A)<br />
                @Html.DisplayFor(model => item.Fuse_max_2_Jännite_A)<br />
                @Html.DisplayFor(model => item.Current_for_package440)<br />
                @Html.DisplayFor(model => item.Current_for_package640)<br />
                @Html.DisplayFor(model => item.Control_voltage_V)<br />
            </td>
        </tr>
        <tr>
            <td>
                <strong> @Html.DisplayName("General technical data")</strong> <br />
                @Html.DisplayName("Oil quantity (l)")<br />
                @Html.DisplayName("Oil carryover (mg/m³)")<br />
                @Html.DisplayName("Air outlet T1")<br />
                @Html.DisplayName("Condensate drain T4")<br />
                <strong> @Html.DisplayName("Noise levels* [dB(A)]")</strong> <br />
                @Html.DisplayName("Noise Level (LpA) / Power Level (LWA) without canopy EW")<br />
                @Html.DisplayName("Noise Level (LpA) / Power Level (LWA) with NOVOX canopy EW")<br />
                @Html.DisplayName("Uncertainty Kpa / Kwa")<br />
                <strong> @Html.DisplayName("Compressor weight (kg.)")</strong> <br />
                @Html.DisplayName("Weight without canopy")<br />
                @Html.DisplayName("Weight with NOVOX canopy")<br />
                @Html.Name("General arrangement drawing S.W.")<br />
                @Html.Name("General arrangement drawing F.W.")<br />
                @Html.DisplayName("General arrangement drawing with NOVOX canopy EW")<br />
                @Html.DisplayName("Cable gland: Power")<br />
                @Html.DisplayName("Cable gland: Alarm / Signal")<br />
            </td>
            <td style="text-align:center">
                @Html.DisplayName(" ")<br />
                @Html.DisplayFor(model => item.Oil_quantity_I)<br />
                @Html.DisplayFor(model => item.Oil_content_mg_m)<br />
                @Html.DisplayFor(model => item.Air_outlet_T1)<br />
                @Html.DisplayFor(model => item.Condensate_drain_T4)<br />
                @Html.DisplayName(" ")<br />
                @Html.DisplayFor(model => item.Pressure_Level_LpA_without_canopy_EW)<br />
                @Html.DisplayFor(model => item.Pressure_Level_LpA_with_NOVOX_canopy_EW)<br />
                @Html.DisplayName("3")<br />
                @Html.DisplayName(" ")<br />
                @Html.DisplayFor(model => item.Weight_without_canopy)<br />
                @Html.DisplayFor(model => item.Weight_with_NOVOX_canopy)<br />
                @Html.DisplayFor(model => item.General_arrangement_drawing_SW)<br />
                @Html.DisplayFor(model => item.General_arrangement_drawing_FW)<br />
                @Html.DisplayFor(model => item.General_arrangement_drawing_with_NOVOX_canopy_EW)<br />
                @Html.DisplayFor(model => item.Cable_gland_Power)<br />
                @Html.DisplayFor(model => item.Cable_gland_Alarm_Signal)<br />
            </td>
        </tr>
    </table>
    <br />
    <div>
        @Html.Name("* In case the humidity is higher, the water flow must be increased")<br />
        @Html.Name("** Calculated with 10°C temperature difference between room temp. and cooling air inlet temp.")<br />
        @Html.Name("*** Noise values determined according to ISO 2151 and ISO 3744, Uncertainty KpA / KWA 3 dB")<br />
        @Html.Name("Extra notes:")@Html.Name((string)item.Extra_notes ?? "")<br />
       

    </div>
}

