﻿@model IEnumerable<MarineDataSheet.RPT_GetReportData_Datasivu_UUSI>
@{
    Layout = null;
}

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
        border: 1px solid black;
        font-size: small;
        font-family: Arial;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
        border-bottom: 2px solid black;
    }

    tr:nth-child(odd) {
        background-color: #f2f2f2;
        border-bottom: 2px solid black;
    }

    hr.header {
        border: 2px solid black;
        border-radius: 3px;
    }

    div.a {
        font-size: 10px;
    }
</style>
<!DOCTYPE html>
<div style="text-align: right">
    <img src="~/Images/TMCLogo.jpg" height="70" />
    <br/>
</div>
@foreach (var item in Model)
{
    <hr class="header">
    <table>
        <tr>
            <td>
                <strong>@Html.DisplayName("Doc no:") @Html.Label(item.Datasivun_numero)</strong>&nbsp; &nbsp; &nbsp;
                <strong>@Html.Name(item.Maximum_working_pressure_barg)</strong>&nbsp; &nbsp; &nbsp;
                <strong>@Html.DisplayName("Revision")&nbsp; &nbsp; &nbsp;</strong><strong> @Html.Label(item.Datasheet_revision ?? "")</strong>
            </td>
            <td> <strong>@Html.DisplayName("Valid From")&nbsp; &nbsp; &nbsp;</strong> <strong>@Html.Name(item.Valid_from ?? "")</strong></td>
        </tr>
    </table>
       <br/>
    <table>
        <tr>
            <td>
                <strong>@Html.Name(item.C1Voltage)</strong>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                <strong>@Html.Name(item.C2Voltage ?? "")</strong>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;
                <strong>@Html.Name("Max Amb.") &nbsp; &nbsp; &nbsp;@Html.Label(item.Maximum_ambient_temperature.ToString() ?? "")@Html.DisplayName(" C°")</strong>
            </td>
            <td style="text-align:center">
                <strong>@Html.Name(item.Maximum_working_pressure_barg_header.ToString())</strong>
            </td>
        </tr>
        <tr>
            <td>
                <strong> @Html.DisplayName("Capacity and power consumption")</strong><br/>
                @Html.DisplayName("Normal working pressure (barg)")<br/>
                @Html.DisplayName("Capacity at normal working pressure (m³/h)")<br/>
                @Html.DisplayName("Capacity at normal working pressure (m³/min)")<br/>
                @Html.DisplayName("Shaft power at normal working pressure (kW)")<br/>
                @Html.DisplayName("Maximum working pressure (barg) / (MPag)")<br/>
                @Html.DisplayName("Minimum working pressure (barg) / (MPag)")<br/>
                @Html.DisplayName("Idling shaft power consumption (kW)")<br/>
                @Html.DisplayName("Male rotor speed (rpm)")<br/>
            </td>
            <td style="text-align:center">
                @Html.DisplayName("  ")<br />
                @Html.DisplayFor(model => item.Normal_working_pressure_barg)<br />
                @Html.DisplayFor(model => item.Capacity_at_Normal_Working_Pressure)<br />
                @Html.DisplayFor(model => item.Capacity_at_Normal_Working_Pressure_min)<br />
                @Html.DisplayFor(model => item.Shaft_power_at_normalpressure_barg)<br />
                @Html.DisplayFor(model => item.Maximum_working_pressure)<br />
                @Html.DisplayFor(model => item.Minimum_working_pressure_barg)<br />
                @Html.DisplayFor(model => item.Idling_Shaft_Power)<br />
                @Html.DisplayFor(model => item.Transmissioncalculated)<br />
               
            </td>
        </tr>
        <tr>
            <td>
                <strong>@Html.DisplayName("Cooling")</strong> <br/>
                @Html.DisplayName("Allowed ambient temperature MIN - MAX (C°)")<br/>
                @Html.DisplayName("Compressed air temperature above cooling medium temp(C°)")<br/>
                <strong>@Html.DisplayName("Air cooled compressors (EA)")</strong><br/>
                @Html.DisplayName("Cooling air flow (m³/s)")<br/>
                @Html.Name("Max.cooling air pressure drop (Pa)")<br/>
                @Html.DisplayName("Cooling air temperature rise (C°)")<br/>
                <strong>@Html.DisplayName("Water cooled compressors (EW)")</strong><br/>
                @Html.DisplayName("Cooling air flow (m³/s)")<br/>
                @Html.DisplayName("Water flow (l/s), Fresh water cooled at 60% air humidity / 45°C temp **")<br/>
                @Html.DisplayName("Water in (max) / water out (max) (C°), Fresh water cooled")<br/>
                @Html.DisplayName("Water flow (l/s), Sea water cooled at 60% air humidity / 45°C temp **")<br/>
                @Html.DisplayName("Water in (max) / water out (max) (C°), Sea water cooled")<br/>
                @Html.DisplayName("Min water inlet pressure with zero back pressure (bar)/(MPa) (Serial)")<br/>
                @Html.Name("Max. water inlet pressure (bar)")<br/>
                @Html.DisplayName("Water in / out T4 / T3 (Standard)")<br/>
                @Html.DisplayName("Oil cooler heat rejection (kW)")<br/>
                @Html.DisplayName("After cooler heat rejection (kW) at 60% air humidity / 45°C temp")<br/>
                @Html.DisplayName("Heat dissipation (kW) EA / EW ***")<br/>

            </td>
            <td style="text-align:center">
                @Html.Display("  ")<br />
                @Html.DisplayName("0 - ")@Html.DisplayFor(model => item.Maximum_ambient_temperature)<br />
                @Html.DisplayFor(model => item.Compressed_air_temperature_above_cooling)<br />
                @Html.Display("  ")<br />
                @Html.DisplayFor(model => item.Cooling_air_flow_m_s)<br />
                @Html.DisplayFor(model => item.Maximum_cooling_air_pressure_drop_Pa)<br />
                @Html.DisplayFor(model => item.Cooling_air_temperature_rise)<br />
                @Html.Display("  ")<br />
                @Html.DisplayFor(model => item.Cooling_air__low_water_cooled)<br />
                @Html.DisplayFor(model => item.Water_flow_Fresh_water_cooled_60_45)<br />
                @Html.DisplayFor(model => item.Water_in_water_out_Fresh_water_cooled)<br />
                @Html.DisplayFor(model => item.Water_flow_Fresh_water_cooled_60_45_sea) <br />
                @Html.DisplayFor(model => item.Water_in_max_water_out_max_Sea_water_cooled)<br />
                @Html.DisplayFor(model => item.Minimum_water_inlet_pressure_with_MPA_Serial)<br />
                @Html.DisplayFor(model => item.Maximum_inlet_pressure_barg)<br />
                @Html.DisplayFor(model => item.Water_in_out_T4_T3)<br />
                @Html.DisplayFor(model => item.Oil_cooler_heat_rejection)<br />
                @Html.DisplayFor(model => item.After_coolerheat_rejection_at_60_air_humidity_45_temp)<br />
                @Html.DisplayFor(model => item.Heat_dissipation_kW_EA_EW)<br />
            </td>
        </tr>
        <tr>
            <td>
                <strong> @Html.DisplayName("Motor and electrical values")</strong><br />
                @Html.DisplayName("Main motor nominal power (kW)")<br />
                @Html.DisplayName("Main motor max power, F-class temp rise (kW)")<br />
                @Html.DisplayName("Main motor protection details")<br />
                @Html.DisplayName("Speed of rotation (rpm) - main motor")<br />
                @Html.DisplayName("Fan motor (kW) EA / EW")<br />
                @Html.DisplayName("Speed of rotation (rpm) - fan motor")<br />
                @Html.DisplayName("Voltage tolerance")<br />
                @Html.DisplayName("Fuse (max) (")@Html.DisplayFor(model => item.voltage_1)@Html.DisplayName(") (A)")<br />
                @Html.DisplayName("Fuse (max) (")@Html.DisplayFor(model => item.Voltage_2)@Html.DisplayName(") (A)")<br />
                @Html.DisplayName("Current for package  (")@Html.DisplayFor(model => item.voltage_1)@Html.DisplayName(") (A)")<br />
                @Html.DisplayName("Current for package  (")@Html.DisplayFor(model => item.Voltage_2)@Html.DisplayName(") (A)")<br />
                @Html.DisplayName("Starting current la/ln DOL / Y/D")<br />
                @Html.DisplayName("Control voltage (V)")<br />

            </td>
            <td style="text-align:center">
                @Html.DisplayName(" ")<br />
                @Html.DisplayFor(model => item.Main_motor_F_class_IP_55_kW)<br />
                @Html.DisplayFor(model => item.Main_motor_max_power)<br />
                @Html.DisplayFor(model => item.Main_motor_protection_details)<br />
                @Html.DisplayFor(model => item.Speed_of_rotation_rpm)<br />
                @Html.DisplayFor(model => item.Fan_motor_kW_EW)<br />
                @Html.DisplayFor(model => item.Speed_of_rotation_rpm_fan_motor)<br />
                @Html.DisplayFor(model => item.Voltage_tolerance)<br />
                @Html.DisplayFor(model => item.Fuse_max_1_Jännite_A)<br />
                @Html.DisplayFor(model => item.Fuse_max_2_Jännite_A)<br />
                @Html.DisplayFor(model => item.Current_for_package440)<br />
                @Html.DisplayFor(model => item.Current_for_package660)<br />
                @Html.DisplayFor(model => item.Starting_current_Ia_In_DOL_YD_SOFT_START)<br />
                @Html.DisplayFor(model => item.Control_voltage_V)<br />
            </td>
        </tr>
        <tr>
            <td>
                <strong> @Html.DisplayName("General technical data")</strong> <br />
                @Html.DisplayName("Oil quantity (l)")<br />
                @Html.DisplayName("Oil carryover (mg/m³)")<br />
                @Html.DisplayName("Air outlet - air cooled T1 (Standard)")<br />
                @Html.DisplayName("Air outlet - water cooled T1 (Standard)")<br />
                @Html.DisplayName("Condensate drain T2 (Standard)")<br />
                @Html.DisplayName("Weight with canopy (kg)")<br />
                @Html.DisplayName("General arrangement drawing with canopy EA")<br />
                @Html.DisplayName("General arrangement drawing with canopy EW")<br />
                @Html.DisplayName("Cable gland: Power (Standard)")<br />
                @Html.DisplayName("Cable gland: Alarm / Signal (Standard)")<br />
                <strong> @Html.DisplayName("Noise data**** [dB(A)]")</strong> <br />
                @Html.DisplayName("Sound pressure level (LpA) / power level (LWA) with canopy EA")<br />
                @Html.DisplayName("Sound pressure level (LpA) / power level (LWA) with canopy EW")<br />
            </td>
            <td style="text-align:center">
                @Html.DisplayName(" ")<br />
                @Html.DisplayFor(model => item.Oil_quantity_I)<br />
                @Html.DisplayFor(model => item.Oil_content_mg)<br />
                @Html.DisplayFor(model => item.Air_outlet_T1)<br />
                @Html.DisplayFor(model => item.Air_outlet_T1_water_cooled)<br />
                @Html.DisplayFor(model => item.Condensate_drain_T4)<br />
                @Html.DisplayFor(model => item.Weight_with_NOVOX__anopy)<br />
                @Html.DisplayFor(model => item.General_arrangement_drawing_with_NOVOX_canopy_EA)<br />
                @Html.DisplayFor(model => item.General_arrangement_drawing_with_NOVOX_canopy_Ew)<br />
                @Html.DisplayFor(model => item.cable_gland_Power)<br />
                @Html.DisplayFor(model => item.Cable_gland_Alarm_Signal)<br />
                @Html.DisplayName(" ")<br />
                @Html.DisplayFor(model => item.Pressure_Level_LpA_with_NOVOX_canopy_EA)<br />
                @Html.DisplayFor(model => item.Pressure_Level_LpA_with_NOVOX_canopy_Ew)<br />
            </td>
        </tr>
    </table>
    <br/>
    <div>
        @Html.Name("Capacity and power consumption measured according to ISO 1217, Annex C")<br />
        @Html.Name("* Air cooled data is based on 0% air humidity")<br />
        @Html.Name("** In case the humidity is higher, the water flow must be increased")<br />
        @Html.Name("*** To be used in compressor room ventilation calculation")<br />
        @Html.Name("**** Noise values determined according to ISO 2151 and ISO 3744, Uncertainty KpA / KWA 3 dB")<br />
        @Html.Name("Extra notes:")
        @Html.Name((string)item.Extra_Comments ?? "")<br />
        @Html.Name("DOC. REF.:")  @Html.DisplayName(item.Datasivun_numero) @Html.Name("REV.") @Html.DisplayName(item.Datasheet_revision ?? "") @Html.Name(item.Valid_from)
    </div>
}

