﻿@model IEnumerable<MarineDataSheet.RPT_GetReportData>
@{
    Layout = null;
}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
        border: 1px solid black;
        font-size: 8.5px;
        font-family: Arial;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
        border-bottom: 2px solid black;
    }

    tr:nth-child(odd) {
        background-color: #f2f2f2;
        border-bottom: 2px solid black;
    }

    hr.header {
        border: 2px solid black;
        border-radius: 3px;
    }

    div.a {
        font-size: 10px;
    }
</style>
<!DOCTYPE html>
<div style="text-align: right">
    <img src="@System.Configuration.ConfigurationManager.AppSettings["ImagePath"]" height="42" width="42" />
    <br />
</div>
@foreach (var item in Model)
{
    <hr class="header">
    <table>
        <tr>
            <td>
                <strong>@Html.Name("Doc no:")&nbsp; &nbsp; &nbsp; @Html.Name(item.Datasivun_numero)</strong>
                <strong>@Html.Name(item.Maximum_working_pressure_barg)</strong>&nbsp; &nbsp; &nbsp;
                <strong>@Html.Name("Revision")</strong>&nbsp; &nbsp; &nbsp;<strong> @Html.Name(item.Datasheet_revision ?? "")</strong>
            </td>
            <td> <strong>@Html.Name("Valid From")</strong> &nbsp; &nbsp; &nbsp;<strong>@Html.Name(item.Valid_from ?? "")</strong></td>
        </tr>
    </table>
    <br />
    <table>
        <tr>
            <td>
                &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                <strong>@Html.Name("Max Amb.")&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;@Html.Display(item.HW_MaximumamidentTemperature.ToString()??"")&nbsp; &nbsp;C&#176;</strong>
            </td>
            <td style="text-align:center">
                <strong>@Html.Name(item.Maximum_working_pressure_barg_single_row.ToString())</strong>
            </td>
        </tr>
        <tr>
            <td>
                <strong> @Html.DisplayName("Capacity and power consumption")</strong><br />
                @Html.DisplayName("Normal working pressure (barg)")<br />
                @Html.DisplayName("Capacity at normal working pressure (m")<sup>3</sup>@Html.Name("/h)")<br />
                @Html.DisplayName("Capacity at normal working pressure (m")<sup>3</sup>@Html.Name("/min)")<br />
                @Html.DisplayName("Shaft power at normal working pressure (kW)")<br />
                @Html.DisplayName("Maximum working pressure (barg) / (MPag)")<br />
                @Html.DisplayName("Minimum working pressure (barg) / (MPag)")<br />
                @Html.DisplayName("Idling shaft power consumption (kW)")<br />
                @Html.DisplayName("Male rotor speed (rpm)")<br />
                @Html.DisplayName("Transmission:") @Html.DisplayFor(model => item.TransmissionStatus)
            </td>
            <td style="text-align:center">
                @Html.Name("  ")<br />
                @Html.DisplayFor(model => item.Normal_working_pressure_barg)<br />
                @Html.DisplayFor(model => item.Capacity_at_normal_working_pressure_m_min_calculated)<br />
                @Html.DisplayFor(model => item.Capacity_at_normal_working_pressure_m_min)<br />
                @Html.DisplayFor(model => item.Shaft_power_at_normal_working_pressure_kW)<br />
                @Html.DisplayFor(model => item.Maximum_working_pressure_barg_mPag_)<br />
                @Html.DisplayFor(model => item.Minimum_working_pressure_barg_mPag_)<br />
                @Html.DisplayFor(model => item.HYD_SHAFTPOWER)<br />
                @Html.DisplayFor(model => item.HYDTransmissioncalculated)
            </td>
        </tr>
        <tr>
            <td>
                <strong>@Html.DisplayName("Cooling")</strong> <br />
                @Html.DisplayName("Allowed ambient temperature MIN - MAX (C°)")<br />
                @Html.DisplayName("Compressed air temperature above cooling medium temp(C°)")<br />
                <strong>@Html.DisplayName("Water cooled compressors (EW)")</strong><br />
                @Html.DisplayName("Water flow (l/s), Fresh water cooled at 60% air humidity / 45°C temp *")<br />
                @Html.DisplayName("Water in (max) / water out (max) (C°), Fresh water cooled")<br />
                @Html.DisplayName("Min water inlet pressure with zero back pressure (bar)/(MPa) - fresh water")<br />
                @Html.DisplayName("Water flow (l/s), Sea water cooled at 60% air humidity / 45°C temp *")<br />
                @Html.DisplayName("Water in (max) / water out (max) (C°), Sea water cooled")<br />
                @Html.DisplayName("Min water inlet pressure with zero back pressure (bar)/(MPa) - sea water")<br />
                @Html.Name("Max. water inlet pressure (bar)")<br />
                @Html.DisplayName("Water in / out T2 / T3")<br />
                @Html.DisplayName("Oil cooler heat rejection (kW)")<br />
                @Html.DisplayName("After cooler heat rejection (kW) at 60% air humidity / 45°C temp")<br />
                @Html.DisplayName("Heat dissipation (kW) EW")

            </td>
            <td style="text-align:center">
                @Html.Display("  ")<br />
                @Html.DisplayFor(model => item.Allowed_ambient_temperature_MIN_MAX_C)<br />
                @Html.DisplayFor(model => item.HYD_COMPRESSEDAIRTEMPERATURE)<br />
                @Html.Display("  ")<br />
                @Html.DisplayFor(model => item.HYD_Water_flow_Fresh_water_cooled_60_45)<br />
                @Html.DisplayFor(model => item.HYD_WATERINCFRESHWATERCOOLED, new { @class = "", @onkeypress = "return false; " })<br />
                @Html.DisplayFor(model => item.HYD_INLETPRESSUREZEROBACK, new { @class = "", @onkeypress = "return false; " })<br />
                @Html.DisplayFor(model => item.HYD_Water_flow_Fresh_water_cooled_60_45_sea)<br />
                @Html.DisplayFor(model => item.Water_in_C_Fresh_water_cooled)  / @Html.DisplayFor(model => item.Water_out_C_Fresh_water_cooled)<br />
                @Html.DisplayFor(model => item.HYD_inlet_pressure_with_zero_back_Serial_sea, new { @class = "", @onkeypress = "return false; " })<br />
                @Html.DisplayFor(model => item.Maximum_inlet_pressure_barg, new { @class = "", @onkeypress = "return false; " })<br />
                @Html.DisplayFor(model => item.Water_in_out_T2_T3, new { @class = "", @onkeypress = "return false; " })<br />
                @Html.DisplayFor(model => item.HYD_OILCOOLERREJECTED, new { @class = "", @onkeypress = "return false; " })<br />
                @Html.DisplayFor(model => item.HYD_After_cooler_heat_rejection_60_45, new { @class = "", @onkeypress = "return false; " })<br />
                @Html.DisplayFor(model => item.HYD_HEATDISSIPATION, new { @class = "", @onkeypress = "return false; " })
            </td>
        </tr>
        <tr>
            <td>
                <strong> @Html.Label("Motor and hydraulic values", new { @class = "" })</strong><br />
                @Html.Label("Hydraulic main motor")<br />
                @Html.Label("Hydraulic motor speed of rotation (rpm) max / min")<br />
                @Html.Label("Hydraulic oil flow (l/min) max / min")<br />
                @Html.Label("Hydraulic oil pressure (bar) max / min")<br />
                @Html.Label("Control voltage (V)")

            </td>
            <td style="text-align:center">
                @Html.Name(" ")<br />
                @Html.DisplayFor(model => item.HYD_MAINMOTOR)<br />
                @Html.DisplayFor(model => item.Hydraulic_motor_speed_rotation_max_min)<br />
                @Html.DisplayFor(model => item.Hydraulic_oil_max_min)<br />
                @Html.DisplayFor(model => item.Hydraulic_oil_pressure_bar_max_min)<br />
                @Html.DisplayFor(model => item.Control_voltage_V)
            </td>
        </tr>
        <tr>
            <td>
                <strong> @Html.Label("General technical data")</strong> <br />
                @Html.Label("Oil quantity (l)")<br />
                @Html.Label("Oil carryover (mg/(m")<sup>3</sup>@Html.Name(")")<br />
                @Html.Label("Air outlet - water cooled T1 (Standard) ")<br />
                @Html.Label("Condensate drain T4 (Standard)")<br />
                @Html.Label("Weight without canopy (kg)")<br />
                @Html.Label("Weight with canopy (kg)")<br />
                @Html.Label("General arrangement drawing (SW)")<br />
                @Html.Label("General arrangement drawing (FW)")<br />
                @Html.Label("General arrangement drawing with NOVOX canopy EW")<br />
                @Html.Label("Cable gland: Power (Standard)")<br />
                @Html.Label("Cable gland: Alarm / Signal (Standard)")<br />
                <strong> @Html.Label("Noise data** [dB(A)]")</strong> <br />
                @Html.Label("Sound pressure level (LpA) / power level (LWA) without canopy EW ")<br />
                @Html.Label("Sound pressure level (LpA) / power level (LWA) with canopy EW")
            </td>
            <td style="text-align:center">
                @Html.Name(" ")<br />
                @Html.DisplayFor(model => item.Oil_quantity_I)<br />
                @Html.DisplayFor(model => item.Oil_content_mg_m)<br />
                @Html.DisplayFor(model => item.Air_outlet_T1_water_cooled)<br />
                @Html.DisplayFor(model => item.Condensate_drain_T4)<br />
                @Html.DisplayFor(model => item.Weight_without_canopy)<br />
                @Html.DisplayFor(model => item.Weight_with_NOVOX_canopy)<br />
                @Html.DisplayFor(model => item.General_arrangement_drawing_SW)<br />
                @Html.DisplayFor(model => item.General_arrangement_drawing_FW)<br />
                @Html.DisplayFor(model => item.General_arrangement_drawing_with_NOVOX_canopy_EW)<br />
                @Html.DisplayFor(model => item.Cable_gland_Power)<br />
                @Html.DisplayFor(model => item.Cable_gland_Alarm_Signal)<br />
                @Html.Name(" ")<br />
                @Html.DisplayFor(model => item.Pressure_Level_LpA_without_canopy_EW)<br />
                @Html.DisplayFor(model => item.Pressure_Level_LpA_with_NOVOX_canopy_EW)
            </td>
        </tr>
    </table>
    <div class="a">


        @Html.Label("Capacity and power consumption measured according to ISO 1217")<br />
        @Html.Label("* In case the humidity is higher, the water flow must be increased")<br />
        @Html.Label("** Noise values determined according to ISO 2151 and ISO 3744, Uncertainty KpA / KWA 3 dB")<br />
        @Html.Label("Extra notes:")
        @Html.Label((string)item.Extra_notes ?? "")<br />
        @Html.Name("DOC. REF.:")  @Html.DisplayName(item.Datasivun_numero) @Html.Name("REV.") @Html.DisplayName(item.Datasheet_revision ?? "") @Html.Name(item.Valid_from ?? "")
    </div>
}
