﻿@model IEnumerable<MarineDataSheet.RPT_GetReportData_Datasivu_WD>
@{
    Layout = null;
}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
        border: 1px solid black;
        font-size: 8.5px;
        font-family: Arial;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
        border-bottom: 2px solid black;
    }

    tr:nth-child(odd) {
        background-color: #f2f2f2;
        border-bottom: 2px solid black;
    }

    hr.header {
        border: 2px solid black;
        border-radius: 3px;
    }

    div.a {
        font-size: 10px;
    }
</style>

<div style="text-align: right">
    <img src="@System.Configuration.ConfigurationManager.AppSettings["TICLogo"]" height="30" width="225" />
    <br />
</div>
@foreach (var item in Model)
{
    <hr class="header">

    <table>
        <tr>
            <td>
                <strong>@Html.Name("Doc no:") &nbsp; &nbsp; &nbsp;@Html.Label(item.Datasivun_numero ?? "")</strong>&nbsp; &nbsp;&nbsp; &nbsp;
                <strong>@Html.Name(item.Maximum_working_pressure_barg_model)</strong>&nbsp; &nbsp;&nbsp; &nbsp;
                <strong>@Html.Name("Revision")</strong>&nbsp; &nbsp; &nbsp;<strong> @Html.Label(item.Datasheet_revision ?? "")</strong>&nbsp; &nbsp;
            </td>
            <td>
                <strong>@Html.Name("Valid From")</strong> <strong>@Html.Name(item.Valid_from ?? "")</strong>
            </td>
        </tr>
    </table>

    <br />
    <table>
        <tr>
            <td>
                <strong>@Html.Name(item.C1Voltage)</strong>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;
                <strong>@Html.Name(item.C2Voltage ?? "")</strong>
                <strong>@Html.Name("Max Amb.") @Html.Name(item.Maximum_ambient_temperature_C.ToString()??"")&nbsp; &nbsp;C&#176;</strong>
            </td>
            <td style="text-align:center">
                <strong>@Html.Name(item.Maximum_working_pressure_barg_Header.ToString())</strong>
            </td>
        </tr>
        <tr>
            <td>
                <strong> @Html.Name("Capacity and power consumption")</strong><br />
                @Html.Name("Normal working pressure (barg)")<br />
                @Html.Name("Capacity at normal working pressure (m")<sup>3</sup>@Html.Name("/h)")<br />
                @Html.Name("Capacity at normal working pressure (m")<sup>3</sup>@Html.Name("/min)")<br />
                @Html.Name("Shaft power at normal working pr. (kW)")<br />
                @Html.Name("Maximum working pressure (barg) / (MPag)")<br />
                @Html.Name("Minimum working pressure (barg) / (MPag)")<br />
                @Html.Name("Idling shaft power consumption (kW)")<br />
                @Html.Name("Male rotor speed (rpm)")<br />
                @Html.Name("Transmission:") @Html.DisplayFor(model => item.TransmissionStatus)<br />
            </td>
            <td style="text-align:center">
                @Html.Name("  ")<br />
                @Html.DisplayFor(model => item.Normal_working_pressure_barg)<br />
                @Html.DisplayFor(model => item.Capacity_at_normal_working_pressure_min_max)<br />
                @Html.DisplayFor(model => item.Capacity_at_normal_working_pressure_min_min)<br />
                @Html.DisplayFor(model => item.Shaft_power_at_normal_working_pr_min_max)<br />
                @Html.DisplayFor(model => item.Maximum_working_pressure_barg)<br />
                @Html.DisplayFor(model => item.Minimum_working_pressure_barg)<br />
                @Html.DisplayFor(model => item.Idling_shaft_power_consumption)<br />
                @Html.DisplayFor(model => item.Male_rotor_speed_min_max)<br />
                @Html.Name("  ")<br />
            </td>
        </tr>
        <tr>
            <td>
                <strong>@Html.DisplayName("Cooling")</strong> <br />
                @Html.DisplayName("Allowed ambient temperature MIN - MAX (C°)")<br />
                @Html.DisplayName("Compressed air temperature above cooling medium temp(C°)")<br />
                <strong>@Html.DisplayName("Air cooled compressors (EA)")</strong><br />
                @Html.DisplayName("Cooling air flow ((m")<sup>3</sup>@Html.Name("/s)")<br />
                @Html.Name("Max.cooling air pressure drop (Pa)")<br />
                @Html.DisplayName("Cooling air temperature rise (C°)")<br />
                <strong>@Html.DisplayName("Water cooled compressors (EW)")</strong><br />
                @Html.DisplayName("Water flow (l/s), Fresh water cooled")<br />
                @Html.DisplayName("Water in / water out (C°), Fresh water cooled")<br />
                @Html.DisplayName("Water flow (l/s), Sea water cooled")<br />
                @Html.DisplayName("Water in / water out (C°), Sea water cooled")<br />
                @Html.DisplayName("Min water inlet pressure with zero back pressure (bar)/(MPa) (Serial)")<br />
                @Html.Name("Max. water inlet pressure (bar)")<br />
                @Html.DisplayName("Water in / out T4 / T3")<br />
                @Html.DisplayName("Oil cooler heat rejection (kW)")<br />
                @Html.DisplayName("After cooler heat rejection (kW)")<br />
                @Html.DisplayName("Heat dissipation (kW) EA / EW")<br />

            </td>
            <td style="text-align:center">
                @Html.Display("  ")<br />
                @Html.DisplayFor(model => item.Maximum_ambient_temperature)<br />
                @Html.DisplayFor(model => item.Compressed_air_temperature_above_cooling_medium_temperature)<br />
                @Html.Display("  ")<br />
                @Html.DisplayFor(model => item.Cooling_air_flow)<br />
                @Html.DisplayFor(model => item.Maximum_cooling_air_pressure_drop_Pa)<br />
                @Html.DisplayFor(model => item.cooling_air_temperature_rise)<br />
                @Html.Display("  ")<br />
                @Html.DisplayFor(model => item.Water_in_water_out_Fresh_water_cooled)<br />
                @Html.DisplayFor(model => item.Combine_water_in_out)<br />
                @Html.DisplayFor(model => item.Water_in_sea_out_Fresh_water_cooled)<br />
                @Html.DisplayFor(model => item.Water_in_water_out_Fresh_water_cooled_sea)<br />
                @Html.DisplayFor(model => item.Minimum_water_inlet_pressure_with_zero_back_bar_MPa_Serial)<br />
                @Html.DisplayFor(model => item.Maximum_inlet_pressure_barg)<br />
                @Html.DisplayFor(model => item.water_in_out_t2_t4)<br />
                @Html.DisplayFor(model => item.oil_cooler_heat_rejection)<br />
                @Html.DisplayFor(model => item.After_cooler_heat_rejection)<br />
                @Html.DisplayFor(model => item.Heat_dissipation_EA_EW)<br />
            </td>
        </tr>
        <tr>
            <td>
                <strong> @Html.Label("Motor and electrical values", new { @class = "lbl-danger" })</strong><br />
                @Html.Name("Main motor: F-class. IP 55 (kW)")<br />
                @Html.Name("Speed of rotation (rpm) - main motor")<br />
                @Html.Name("Fan motor (kW) EA / EW")<br />
                @Html.Name("Speed of rotation (rpm) - fan motor")<br />
                @Html.Label("Fuse (max) (")@Html.DisplayFor(model => item.voltage_1)@Html.Name(") (A)")<br />
                @Html.Label("Fuse (max) (")@Html.DisplayFor(model => item.Voltage_2)@Html.Name(") (A)")<br />
                @Html.Label("Current for package  (")@Html.DisplayFor(model => item.voltage_1)@Html.Name(") (A)")<br />
                @Html.Label("Current for package  (")@Html.DisplayFor(model => item.Voltage_2)@Html.Name(") (A)")<br />
                @Html.Name("Starting current la/ln DOL / Y/D")<br />
                @Html.Name("Control voltage (V)")<br />

            </td>
            <td style="text-align:center">
                @Html.Name(" ")<br />
                @Html.DisplayFor(model => item.Main_motor_F_class_IP_55_kW)<br />
                @Html.DisplayFor(model => item.Speed_of_rotation_rpm)<br />
                @Html.Name(item.Fan_motor_kW_EA.ToString().Replace("0", "") ?? "") / @Html.Name(item.Fan_motor_kW_EW.ToString().Replace("0", "") ?? "")<br />
                @Html.DisplayFor(model => item.Speed_of_rotation_rpm_fan_motor)<br />
                @Html.DisplayFor(model => item.Fuse_max_1_Jännite_A)<br />
                @Html.DisplayFor(model => item.Fuse_max_2_Jännite_A)<br />
                @Html.DisplayFor(model => item.Current_Package_440)<br />
                @Html.DisplayFor(model => item.Current_Package_660)<br />
                @Html.DisplayFor(model => item.Starting_current_Ia_In_DOL_YD_SOFT_START)<br />
                @Html.DisplayFor(model => item.Control_voltage_V)<br />
            </td>
        </tr>
        <tr>
            <td>
                <strong> @Html.Name("General technical data")</strong> <br />
                @Html.Name("Oil quantity (l)")<br />
                @Html.Name("Oil carryover (mg/(m")<sup>3</sup>@Html.Name(")")<br />
                @Html.Name("Air outlet T1")<br />
                @Html.Name("Condensate drain T2")<br />
                @Html.Name("Weight with canopy (kg)")<br />
                @Html.Name("General arrangement drawing with canopy EA")<br />
                @Html.Name("General arrangement drawing with canopy EW")<br />
                @Html.Name("Cable gland: Power")<br />
                @Html.Name("Cable gland: Alarm / Signal")<br />
                <strong> @Html.Label("Noise data* [dB(A)]")</strong> <br />
                @Html.Label("Sound pressure level (LpA) / power Level (LWA) with canopy EA")<br />
                @Html.Label("Sound pressure level (LpA) / power Level (LWA) with canopy EW")<br />
            </td>
            <td style="text-align:center">
                @Html.Name(" ")<br />
                @Html.DisplayFor(model => item.Oil_quantity_I)<br />
                @Html.DisplayFor(model => item.Oil_content_mg_m)<br />
                @Html.DisplayFor(model => item.Air_outlet_T1)<br />
                @Html.DisplayFor(model => item.Air_outlet_T1_water_cooled)<br />
                @Html.DisplayFor(model => item.Condensate_drain_T4)<br />
                @Html.DisplayFor(model => item.Weight_with_NOVOX_canopy)<br />
                @Html.DisplayFor(model => item.General_arrangement_drawing_with_NOVOX_canopy_EA)<br />
                @Html.DisplayFor(model => item.General_arrangement_drawing_with_NOVOX_canopy_EW)<br />
                @Html.DisplayFor(model => item.Cable_gland_Power)<br />
                @Html.DisplayFor(model => item.Cable_gland_Alarm_Signal)<br />
                @Html.Name(" ")<br />
                @Html.DisplayFor(model => item.Pressure_Level_LpA_with_NOVOX_canopy_EA)<br />
                @Html.DisplayFor(model => item.Pressure_Level_LpA_with_NOVOX_canopy_EW)<br />
            </td>
        </tr>
    </table>
    <br />
    <div class="a">
        @Html.Label("Capacity and power consumption measured according to ISO 1217, Annex C")<br />
        @Html.Label("* Noise values determined according to ISO 2151 and ISO 3744, Uncertainty Kpa / Kwa 3dB")<br />
        @Html.Label("Extra notes:")
        @Html.Label((string)item.Extra_notes ?? "")<br />

    </div>
}
