﻿@model IEnumerable<MarineDataSheet.RPT_GetReportData_isot_IE3_EAEW>
@{
    Layout = null;
}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
        border: 1px solid black;
        font-size: 8.5px;
        font-family: Arial;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
        border-bottom: 2px solid black;
    }

    tr:nth-child(odd) {
        background-color: #f2f2f2;
        border-bottom: 2px solid black;
    }

    hr.header {
        border: 2px solid black;
        border-radius: 3px;
    }

    div.a {
        font-size: 10px;
    }
</style>
<!DOCTYPE html>
<div style="text-align: right">
    <img src="@System.Configuration.ConfigurationManager.AppSettings["ImagePath"]" height="42" width="42" />
    <br />
</div>
@foreach (var item in Model)
{
    <hr class="header">
    <table>
        <tr>
            <td>
                <strong>@Html.Name("Doc no:") &nbsp; &nbsp; &nbsp;@Html.Label(item.Datasivun_numero)</strong>&nbsp; &nbsp; &nbsp;
                <strong>@Html.Name(item.Maximum_working_pressure_barg)</strong>&nbsp; &nbsp; &nbsp;
                <strong>@Html.Name("Revision")</strong>&nbsp; &nbsp; &nbsp;<strong> @Html.Name(item.Datasheet_revision ?? "")</strong>
            </td>
            <td> <strong>@Html.Name("Valid From")</strong>&nbsp; &nbsp; &nbsp; <strong>@Html.Name(item.Valid_from ?? "")</strong>
                 <strong>@Html.Name("Max Amb.") @Html.Name(item.Maximum_ambient_temperature_C.ToString() ?? "") &nbsp; &nbsp;@Html.DisplayName("C°")</strong>
            </td>
            
        </tr>
    </table>
    <br />
    <table>
        <tr>
            <td>
                <strong>@Html.Name(item.C1Voltage)</strong>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                <strong>@Html.Name(item.C2Voltage ?? "")</strong>
            </td>
            <td style="text-align:center">
                <strong>@Html.Name(item.Maximum_working_pressure_barg_single_row.ToString())</strong>
            </td>
        </tr>
        <tr>
            <td>
                <strong> @Html.Name("Capacity and power consumption")</strong><br />
                @Html.Name("Normal working pressure (barg)")<br />
                @Html.Name("Capacity at normal working pressure (m")<sup>3</sup>@Html.Name("/h)")<br />
                @Html.Name("Capacity at normal working pressure (m")<sup>3</sup>@Html.Name("/min)")<br />
                @Html.Name("Shaft power at normal working pressure (kW)")<br />
                @Html.Name("Maximum working pressure (barg) / (MPag)")<br />
                @Html.Name("Minimum working pressure (barg) / (MPag)")<br />
                @Html.Name("Idling shaft power consumption (kW)")<br />
                @Html.Name("Male rotor speed (rpm)")<br />
                @Html.Name("Transmission:") @Html.DisplayFor(model => item.TransmissionStatus)
            </td>
            <td style="text-align:center">
                @Html.Name("  ")<br />
                @Html.DisplayFor(model => item.Normal_working_pressure_barg)<br />
                @Html.DisplayFor(model => item.Capacity_at_normal_working_pressure_m_min_calculated)<br />
                @Html.DisplayFor(model => item.Capacity_at_normal_working_pressure_m_min)<br />
                @Html.DisplayFor(model => item.Shaft_power_at_normal_working_pressure_kW)<br />
                @Html.DisplayFor(model => item.Maximum_working_pressure_barg_mPag_)<br />
                @Html.DisplayFor(model => item.Minimum_working_pressure_barg_mPag_)<br />
                @Html.DisplayFor(model => item.Shaft_power_at_normal_working_pressure_kW_calculated)<br />
                @Html.DisplayFor(model => item.Transmissioncalculated)<br />
                @Html.Name(item.Tranmission.ToString() ?? "")<br />
            </td>
        </tr>
        <tr>
            <td>
                <strong>@Html.DisplayName("Cooling")</strong> <br />
                @Html.DisplayName("Allowed ambient temperature MIN - MAX (C°)")<br />
                @Html.DisplayName("Compressed air temperature above cooling medium temp(C°)")<br />
                <strong>@Html.DisplayName("Air cooled compressors (EA)")</strong><br />
                @Html.DisplayName("Max.cooling air pressure drop (Pa)")<br />
                @Html.DisplayName("Cooling air temperature rise (C°)")<br />
                <strong>@Html.DisplayName("Water cooled compressors (EW)")</strong><br />
                @Html.DisplayName("Water flow (l/s), Fresh water cooled at 60% air humidity / 45°C temp")<br />
                @Html.DisplayName("Water in (max) / water out (max) (C°), Fresh water cooled")<br />
                @Html.DisplayName("Min water inlet pressure with zero back pressure (bar)/(MPa), Fresh water")<br />
                @Html.DisplayName("Water flow (l/s), Sea water cooled at 60% air humidity / 45°C temp")<br />
                @Html.DisplayName("Water in (max) / water out (max) (C°), Sea water cooled")<br />
                @Html.DisplayName("Min water inlet pressure with zero back pressure (bar)/(MPa), Sea water")<br />
                @Html.DisplayName("Max. water inlet pressure (bar)")<br />
                @Html.DisplayName("Water in / out T2 / T3 (Standard)")<br />
                @Html.DisplayName("Oil cooler heat rejection (kW)")<br />
                @Html.DisplayName("After cooler heat rejection (kW) at 60% air humidity / 45°C temp")<br />
                @Html.DisplayName("Heat dissipation (kW) EA / EW")
            </td>
            <td style="text-align:center">
                @Html.Display("  ")<br />
                @Html.DisplayFor(model => item.Allowed_ambient_temperature_MIN_MAX_C)<br />
                @Html.DisplayFor(model => item.Compressed_air_temperature_above_cooling_medium_temperature_C)<br />
                @Html.Display("  ")<br />
                @Html.DisplayFor(model => item.Maximum_cooling_air_pressure_drop_Pa)<br />
                @Html.DisplayFor(model => item.Cooling_air_temperature_rise)<br />
                @Html.Display("  ")<br />
                @Html.DisplayFor(model => item.Water_flow_Fresh_ater_cooled)<br />
                @Html.DisplayFor(model => item.Water_in_C_Fresh_water_cooled)  / @Html.DisplayFor(model => item.Water_out_C_Fresh_water_cooled)<br />
                @Html.DisplayFor(model => item.Minimum_water_inlet_pressure_with_zero_ba_bar_MPa_Parallel)<br />
                @Html.DisplayFor(model => item.Water_in_C_Sea_water_cooled)  / @Html.DisplayFor(model => item.Water__Out_C_Sea_water_cooled)<br />
                @Html.DisplayFor(model => item.Minimum_water_inlet_pressure_with_zero_back_bar_MPa_After)<br />
                @Html.DisplayFor(model => item.Maximum_inlet_pressure_barg)<br />
                @Html.DisplayFor(model => item.Water_in_out_T2_T3)<br />
                @Html.DisplayFor(model => item.Oil_cooler_heat_rejection)<br />
                @Html.DisplayFor(model => item.After_cooler_heat_rejection)<br />
                @Html.DisplayFor(model => item.Heat_dissipation)
            </td>
        </tr>
        <tr>
            <td>
                <strong> @Html.Name("Motor and electrical values")</strong><br />
                @Html.Name("Main motor nominal power (kW)")<br />
                @Html.Name("Main motor protection details")<br />
                @Html.Name("Main motor temperature rise")<br />
                @Html.Name("Speed of rotation (rpm) - main motor")<br />
                @Html.Name("Fan motor (kW) EA")<br />
                @Html.Name("Speed of rotation (rpm) - fan motor")<br />
                @Html.Name("Voltage tolerance")<br />
                @Html.Name("Fuse (max) (A)  ") @Html.DisplayFor(model => item.voltage_1)  / @Html.DisplayFor(model => item.Voltage_2)<br />
                @Html.Name("Current for package (A) ")@Html.DisplayFor(model => item.voltage_1)  / @Html.DisplayFor(model => item.Voltage_2)<br />
                @Html.Name("Starting current la/ln DOL / Y/D")<br />
                @Html.Name("Control voltage (V)")

            </td>
            <td style="text-align:center">
                @Html.Name(" ")<br />
                @Html.DisplayFor(model => item.Main_motor_F_class_IP_55_kW)<br />
                @Html.DisplayFor(model => item.Main_motor_protection_details)<br />
                @Html.DisplayFor(model => item.Main_motor_temperature_rise)<br />
                @Html.DisplayFor(model => item.Speed_of_rotation_rpm)<br />
                @Html.DisplayFor(model => item.Fan_motor_EA)<br />
                @Html.DisplayFor(model => item.Speed_of_rotation_rpm_fan_motor)<br />
                @Html.DisplayFor(model => item.Voltage_tolerance)<br />
                @Html.DisplayFor(model => item.Fuse_max_1_Jännite_A) / @Html.DisplayFor(model => item.Fuse_max_2_Jännite_A)<br />
                @Html.DisplayFor(model => item.Current_for_package_440_690_1) || @Html.DisplayFor(model => item.Current_for_package_440_690_2)<br />
                @Html.DisplayFor(model => item.Starting_current_Ia_In_DOL_YD_SOFT_START)<br />
                @Html.DisplayFor(model => item.Control_voltage_V)
            </td>
        </tr>
        <tr>
            <td>
                <strong> @Html.Name("General technical data")</strong> <br />

                @Html.Name("Cooling air flow for ventilation of compressor room ((m")<sup>3</sup>@Html.Name("/s) EA / EW **")<br />
                @Html.Name("Oil quantity (l) EA / EW")<br />
                @Html.Name("Oil carryover (mg/(m")<sup>3</sup>@Html.Name(")")<br />
                @Html.Name("Air outlet - air cooled T1 (Standard) ")<br />
                @Html.Name("Air outlet - water cooled T1 (Standard) ")<br />
                @Html.Name("Condensate drain T4 (Standard)")<br />
                @Html.Name("Weight without canopy (kg) EW")<br />
                @Html.Name("Weight with canopy (kg) EA / EW")<br />
                @Html.Name("General arrangement drawing without canopy: FW / SW")<br />
                @Html.Name("General arrangement drawing with canopy EA / EW")<br />
                @Html.Name("Cable gland: Power (Standard)")<br />
                @Html.Name("Cable gland: Alarm / Signal (Standard)")<br />
                <strong> @Html.Name("Noise data [dB(A)]")</strong> <br />
                @Html.Name("Sound pressure level (LpA) / power level (LWA) without canopy EW ")<br />
                @Html.Name("Sound pressure level (LpA) / power level (LWA) with canopy EW")<br />
                @Html.Name("Sound pressure level (LpA) / power level (LWA) with canopy EA")
            </td>
            <td style="text-align:center">
                @Html.Name(" ")<br />
                @Html.DisplayFor(model => item.Cooling_air_flow_for_ventilation_of_compressor_room)<br />
                @Html.DisplayFor(model => item.Oil_quantity_EA_I) / @Html.DisplayFor(model => item.Oil_quantity_I)<br />
                @Html.DisplayFor(model => item.Oil_content_mg_m)<br />
                @Html.DisplayFor(model => item.Air_outlet_T1)<br />
                @Html.DisplayFor(model => item.Air_outlet_T1_water_cooled)<br />
                @Html.DisplayFor(model => item.Condensate_drain_T4)<br />
                @Html.DisplayFor(model => item.Weight_with_NOVOX_canopy_EA)/  @Html.DisplayFor(model => item.Weight_with_NOVOX_canopy) <br />
                @Html.DisplayFor(model => item.General_arrangement_drawing_without_canopy_FW_SW)<br />
                @Html.DisplayFor(model => item.General_arrangement_drawing_with_canopy_EA_EW)<br />
                @Html.DisplayFor(model => item.Cable_gland_Power)<br />
                @Html.DisplayFor(model => item.Cable_gland_Alarm_Signal)<br />
                @Html.Name(" ")<br />
                @Html.DisplayFor(model => item.Pressure_Level_LpA_with_NOVOX_canopy_EA)<br />
                @Html.DisplayFor(model => item.Pressure_Level_LpA_with_NOVOX_canopy_EW)<br />
                @Html.DisplayFor(model => item.Pressure_Level_LpA_without_canopy_EW)
            </td>
        </tr>
    </table>
    <div class="a">
        @Html.Name("Capacity and power consumption measured according to ISO 1217, Annex C")<br />
        @Html.Name("Noise values determined according to ISO 2151 and ISO 3744, Uncertainty KpA / KWA 3 dB")<br />
        @Html.Name("Motor nominal power and temperature rise according to IEC60034-1")<br />
        @Html.Name(" Air cooled data is based on 0% air humidity") <label>   **Calculated with 10 C&#176; temperature difference between room temp. and cooling air inlet temp.</label><br />
        @Html.Name("Extra notes:")
        @Html.Name((string)item.Extra_notes ?? "")<br />
        @Html.Name("DOC. REF.:")@Html.DisplayName(item.Datasivun_numero) @Html.Name("REV.") @Html.DisplayName(item.Datasheet_revision ?? "") @Html.Name(item.Valid_from)
    </div>
}