﻿@model IEnumerable<MarineDataSheet.RPT_GetReportData_IE3>
@{
    Layout = null;
}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
        border: 1px solid black;
        font-size: 8.5px;
        font-family: Arial;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
        border-bottom: 2px solid black;
    }

    tr:nth-child(odd) {
        background-color: #f2f2f2;
        border-bottom: 2px solid black;
    }

    hr.header {
        border: 2px solid black;
        border-radius: 3px;
    }

    div.a {
        font-size: 10px;
    }
</style>
<!DOCTYPE html>
<div style="text-align: right">
    <img src="@System.Configuration.ConfigurationManager.AppSettings["ImagePath"]" height="42" width="42" />
    <br />
</div>
@foreach (var item in Model)
{
    <hr class="header">
    <table>
        <tr>
            <td>
                <strong>@Html.Name("Doc no:")&nbsp; &nbsp; &nbsp; @Html.Name(item.Datasivun_numero)</strong>
                <strong>@Html.Name(item.Maximum_working_pressure_barg)</strong>
            </td>
            <td></td>
        </tr>
    </table>
    <br />
    <table>
        <tr>
            <td>
                <strong>@Html.Name(item.C1Voltage)</strong>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                <strong>@Html.Name(item.C2Voltage ?? "")</strong>&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                <strong>@Html.Name("Max Amb.")&nbsp;&nbsp; &nbsp; &nbsp;@Html.Name(item.Maximum_ambient_temperature.ToString()??"")&nbsp; &nbsp;C&#176;</strong>
            </td>
            <td style="text-align:center">
                <strong>@Html.Name(item.Maximum_working_pressure_barg1.ToString())</strong>
            </td>
        </tr>
        <tr>
            <td>
                <strong> @Html.Name("Capacity and power consumption")</strong><br />
                @Html.Name("Normal working pressure (barg)")<br />
                @Html.Name("Capacity at normal working pressure (m")<sup>3</sup>@Html.Name("/h)")<br />
                @Html.Name("Capacity at normal working pressure (m")<sup>3</sup>@Html.Name("/min)")<br />
                @Html.Name("Shaft power at normal working pressure (kW)")<br />
                @Html.Name("Maximum working pressure (barg) / (MPag)")<br />
                @Html.Name("Minimum working pressure (barg) / (MPag)")<br />
                @Html.Name("Idling shaft power consumption (kW)")<br />
                @Html.Name("Male rotor speed (rpm)")
            </td>
            <td style="text-align:center">
                @Html.Name("  ")<br />
                @Html.DisplayFor(model => item.Normal_working_pressure_barg)<br />
                @Html.DisplayFor(model => item.Capacity_at_Normal_Working_Pressure)<br />
                @Html.DisplayFor(model => item.Capacity_at_Normal_Working_Pressurem3min)<br />
                @Html.DisplayFor(model => item.Shaft_power_at_normalpressure_barg)<br />
                @Html.DisplayFor(model => item.Maximum_working_pressure_barg_mPag_)<br />
                @Html.DisplayFor(model => item.Minimum_working_pressure_barg_mPag_)<br />
                @Html.DisplayFor(model => item.Idling_Shaft_Power)<br />
                @Html.DisplayFor(model => item.Transmissioncalculated)
            </td>
        </tr>
        <tr>
            <td>
                <strong>@Html.DisplayName("Cooling")</strong> <br />
                @Html.DisplayName("Allowed ambient temperature MIN - MAX (C°)")<br />
                @Html.DisplayName("Compressed air temperature above cooling medium temp(C°)")<br />
                <strong>@Html.DisplayName("Air cooled compressors (EA)")</strong><br />
                @Html.DisplayName("Cooling air flow ((m")<sup>3</sup>@Html.Name("/s)")<br />
                @Html.Name("Max.cooling air pressure drop (Pa)")<br />
                @Html.DisplayName("Cooling air temperature rise (C°)")<br />
                <strong>@Html.DisplayName("Water cooled compressors (EW)")</strong><br />
                @Html.DisplayName("Water flow (l/s), Fresh water cooled")<br />
                @Html.DisplayName("Minimum working pressure (barg) / (MPag)")<br />
                @Html.DisplayName("Water in / water out (C°), Fresh water cooled")<br />
                @Html.DisplayName("Water flow (l/s), Sea water cooled")<br />
                @Html.DisplayName("Water in / water out (C°), Sea water cooled")<br />
                @Html.DisplayName("Min water inlet pressure with zero back pressure (bar)/(MPa) (Serial)")<br />
                @Html.Name("Max. water inlet pressure (bar)")<br />
                @Html.DisplayName("Water in / out T4 / T3")<br />
                @Html.DisplayName("Oil cooler heat rejection (kW)")<br />
                @Html.DisplayName("After cooler heat rejection (kW)")<br />
                @Html.DisplayName("Heat dissipation (kW) EA / EW")
            </td>
            <td style="text-align:center">
                @Html.Display("  ")<br />
                @Html.DisplayName("0-")@Html.DisplayFor(model => item.Maximum_ambient_temperature)<br />
                @Html.DisplayFor(model => item.Compressed_air_temperature_above_cooling)<br />
                @Html.Display("  ")<br />
                @Html.DisplayFor(model => item.Cooling_air_flow_m_s)<br />
                @Html.DisplayFor(model => item.Maximum_cooling_air_pressure_drop_Pa)<br />
                @Html.DisplayFor(model => item.Cooling_air_temperature_rise)<br />
                @Html.Display("  ")<br />
                @Html.Name(item.Cooling_air__low_water_cooled.ToString())<br />
                @Html.DisplayFor(model => item.Water_flow_Fresh_water_cooled_60_45)<br />
                @Html.DisplayFor(model => item.Water_in_water_out_Fresh_water_cooled)<br />
                @Html.DisplayFor(model => item.Water_flow_Fresh_water_cooled_60_45_sea)<br />
                @Html.DisplayFor(model => item.Water_in_max_water_out_max_Sea_water_cooled)<br />
                @Html.DisplayFor(model => item.Minimum_water_inlet_pressure_with_MPA_Serial)<br />
                @Html.DisplayFor(model => item.Maximum_inlet_pressure_barg)<br />
                @Html.DisplayFor(model => item.Water_in_out_T4_T3)<br />
                @Html.DisplayFor(model => item.Oil_cooler_heat_rejection)<br />
                @Html.DisplayFor(model => item.After_coolerheat_rejection_at_60_air_humidity_45_temp)<br />
                @Html.DisplayFor(model => item.Heat_dissipation__kW__EA___EW)<br />
            </td>
        </tr>
        <tr>
            <td>
                <strong> @Html.Label("Motor and electrical values", new { @class = "lbl-danger" })</strong><br />
                @Html.Label("Main motor nominal power (kW)")<br />
                @Html.Label("Main motor max power, F-class temp rise (kW)")<br />
                @Html.Label("Main motor protection details")<br />
                @Html.Label("Main motor temperature rise")<br />
                @Html.Label("Speed of rotation (rpm) - main motor")<br />
                @Html.Label("Fan motor (kW) EA / EW")<br />
                @Html.Label("Speed of rotation (rpm) - fan motor")<br />
                @Html.Label("Voltage tolerance")<br />
                @Html.Label("Fuse (max) (")@Html.DisplayFor(model => item.voltage_1)@Html.Name(") (A)")<br />
                @Html.Label("Fuse (max) (")@Html.DisplayFor(model => item.Voltage_2)@Html.Name(") (A)")<br />
                @Html.Label("Current for package  (")@Html.DisplayFor(model => item.voltage_1)@Html.Name(") (A)")<br />
                @Html.Label("Current for package  (")@Html.DisplayFor(model => item.Voltage_2)@Html.Name(") (A)")<br />
                @Html.Label("Starting current la/ln DOL / Y/D")<br />
                @Html.Label("Control voltage (V)")
            </td>
            <td style="text-align:center">
                @Html.DisplayName(" ")<br />
                @Html.DisplayFor(model => item.Main_motor_F_class_IP_55_kW)<br />
                @Html.DisplayFor(model => item.Main_motor_max_power)<br />
                @Html.DisplayFor(model => item.Main_motor_protection_details)<br />
                @Html.DisplayFor(model => item.Main_motor_temperature_rise)<br />
                @Html.DisplayFor(model => item.Speed_of_rotation_rpm)<br />
                @Html.DisplayFor(model => item.Speed_of_rotation_rpm_fan_motor)<br />
                @Html.Name(item.Fan_motor_kW_EW.ToString().Replace("0", ""))<br />
                @Html.DisplayFor(model => item.Voltage_tolerance)<br />
                @Html.DisplayFor(model => item.Fuse_max_1_Jännite_A)<br />
                @Html.DisplayFor(model => item.Fuse_max_2_Jännite_A)<br />
                @Html.DisplayFor(model => item.Current_for_package440)<br />
                @Html.DisplayFor(model => item.Current_for_package660)<br />
                @Html.DisplayFor(model => item.Starting_current_Ia_In_DOL_YD_SOFT_START)<br />
                @Html.DisplayFor(model => item.Control_voltage_V)<br />
            </td>
        </tr>
        <tr>
            <td>
                <strong> @Html.Label("General technical data")</strong> <br />
                @Html.Label("Oil quantity (l)")<br />
                @Html.Label("Oil carryover (mg/(m")<sup>3</sup>@Html.Name(")")<br />
                @Html.Label("Air outlet - air cooled T1 (Standard)")<br />
                @Html.Label("Air outlet - water cooled T1 (Standard)")<br />
                @Html.Label("Condensate drain T2 (Standard)")<br />
                @Html.Label("Weight with canopy (kg)")<br />
                @Html.Label("General arrangement drawing with canopy EA")<br />
                @Html.Label("General arrangement drawing with canopy EW")<br />
                @Html.Label("Cable gland: Power (Standard)")<br />
                @Html.Label("Cable gland: Alarm / Signal (Standard)")<br />
                <strong>@Html.Label("Noise levels* [dB(A)]")</strong><br />
                @Html.Label("Sound pressure level (LpA) / power level (LWA) with canopy EA ")<br />
                @Html.Label("Sound pressure level (LpA) / power level (LWA) with canopy EW")
            </td>
            <td style="text-align:center">
                @Html.Name(" ")<br />
                @Html.DisplayFor(model => item.Oil_quantity_I)<br />
                @Html.DisplayFor(model => item.Oil_content_mg)<br />
                @Html.DisplayFor(model => item.Air_outlet_T1)<br />
                @Html.DisplayFor(model => item.Air_outlet_T1_water_cooled)<br />
                @Html.DisplayFor(model => item.Condensate_drain_T4)<br />
                @Html.DisplayFor(model => item.Weight_with_NOVOX__anopy)<br />
                @Html.DisplayFor(model => item.General_arrangement_drawing_with_NOVOX_canopy_EA)<br />
                @Html.DisplayFor(model => item.General_arrangement_drawing_with_NOVOX_canopy_Ew)<br />
                @Html.DisplayFor(model => item.cable_gland_Power)<br />
                @Html.DisplayFor(model => item.Cable_gland_Alarm_Signal)<br />
                @Html.Name(" ")<br />
                @Html.DisplayFor(model => item.Pressure_Level_LpA_with_NOVOX_canopy_EA)<br />
                @Html.DisplayFor(model => item.Pressure_Level_LpA_with_NOVOX_canopy_Ew)
            </td>
        </tr>
    </table>
    <div class="a">


        @Html.Name("Capacity and power consumption measured according to ISO 1217, Annex C   * Air cooled data is based on 0% air humidity")
        <br />
        @Html.Name("Noise values determined according to ISO 2151 and ISO 3744, Uncertainty KpA / KWA 3 dB")
        <br />
        @Html.Name("Motor nominal power and temperature rise according to IEC60034-1")
        <br />
        @Html.Name("Extra notes:")
        @Html.Name((string)item.Extra_Comments ?? "")
        <br />
        @Html.Name("DOC. REF.:") @Html.DisplayName(item.Datasivun_numero) @Html.Name("REV.") @Html.DisplayName(item.Datasheet_revision ?? "") @Html.Name(item.Valid_from)
    </div>
}

