﻿@model IEnumerable<MarineDataSheet.RPT_GetReportData>
@{
    Layout = null;
}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
        border: 1px solid black;
        font-size: 18px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    hr.header {
        border: 2px solid black;
        border-radius: 3px;
    }
</style>
<!DOCTYPE html>
<div style="text-align: right">
    <img src="~/Images/TMCLogo.jpg" height="70" />
    <br/>
</div>
@foreach (var item in Model)
{
    <hr class="header">
    <div>
        <strong>@Html.Label("Doc no:") @Html.Label(item.Datasivun_numero)</strong>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <strong>@Html.Label(item.Maximum_working_pressure_barg)</strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <strong>@Html.Label("Revision")</strong><strong> @Html.Label(item.Datasheet_revision??"")</strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp;
        <strong>@Html.Label("Valid From")</strong> <strong>@Html.Label(item.Valid_from ?? "")</strong>
    </div>
    <br/>
    <table>
        <tr>
            <td>
                <strong>@Html.Label(item.C1Voltage)</strong>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                <strong>@Html.Label(item.C2Voltage??"")</strong>
            </td>
            <td style="text-align:center">
                <strong>@Html.Label(item.Maximum_working_pressure_barg_single_row.ToString(), new { @class = "", @onkeypress = "return true;" })</strong>
            </td>
        </tr>
        <tr>
            <td>
                <strong> @Html.Label("Capacity and power consumption")</strong><br/>
                @Html.Label("Normal working pressure (barg)")<br/>
                @Html.Label("Capacity at normal working pressure (m³/h) min / max")<br/>
                @Html.Label("Capacity at normal working pressure (m³/min) min / max")<br/>
                @Html.Label("Shaft power at normal working pressure (kW) min / max")<br/>
                @Html.Label("Maximum working pressure (barg) / (MPag)")<br/>
                @Html.Label("Minimum working pressure (barg) / (MPag)")<br/>
                @Html.Label("Idling shaft power consumption (kW)")<br/>
                @Html.Label("Male rotor speed (rpm)")<br/>
                @Html.Label("Transmission:") @Html.DisplayFor(model => item.TransmissionStatus)<br/>
            </td>
            <td style="text-align:center">
                @Html.Name("  ")<br />
                @Html.DisplayFor(model => item.Normal_working_pressure_barg)<br />
                @Html.DisplayFor(model => item.Capacity_at_normal_working_pressure_m_min_calculated)<br />
                @Html.DisplayFor(model => item.Capacity_at_normal_working_pressure_m_min)<br />
                @Html.DisplayFor(model => item.Shaft_power_at_normal_working_pressure_kW)<br />
                @Html.DisplayFor(model => item.Maximum_working_pressure_barg_mPag_)<br />
                @Html.DisplayFor(model => item.Minimum_working_pressure_barg_mPag_)<br />
                @Html.DisplayFor(model => item.Shaft_power_at_normal_working_pressure_kW_calculated)<br />
                @Html.DisplayFor(model => item.Transmissioncalculated)<br />
                @Html.Name("  ")<br />
            </td>
        </tr>
        <tr>
            <td>
                <strong>@Html.DisplayName("Cooling")</strong> <br/>
                @Html.DisplayName("Allowed ambient temperature MIN - MAX (C°)")<br/>
                @Html.DisplayName("Compressed air temperature above cooling medium temp(C°)")<br/>
                <strong>@Html.DisplayName("Air cooled compressors (EA)")</strong><br/>
                @Html.DisplayName("Cooling air flow (m³/s)")<br/>
                @Html.Name("Max.cooling air pressure drop (Pa)")<br/>
                @Html.DisplayName("Cooling air temperature rise (C°)")<br/>
                <strong>@Html.DisplayName("Water cooled compressors (EW)")</strong><br/>
                @Html.DisplayName("Water flow (l/s), Fresh water cooled")<br/>
                @Html.DisplayName("Minimum working pressure (barg) / (MPag)")<br/>
                @Html.DisplayName("Water in / water out (C°), Fresh water cooled")<br/>
                @Html.DisplayName("Water flow (l/s), Sea water cooled")<br/>
                @Html.DisplayName("Water in / water out (C°), Sea water cooled")<br/>
                @Html.DisplayName("Min water inlet pressure with zero back pressure (bar)/(MPa) (Serial)")<br/>
                @Html.DisplayName("Max. water inlet pressure (bar)")<br/>
                @Html.DisplayName("Water in / out T4 / T3")<br/>
                @Html.DisplayName("Oil cooler heat rejection (kW)")<br/>
                @Html.DisplayName("After cooler heat rejection (kW)")<br/>
                @Html.DisplayName("Heat dissipation (kW) EA / EW")<br/>

            </td>
            <td style="text-align:center">
                @Html.Display("  ")<br />
                @Html.DisplayFor(model => item.Allowed_ambient_temperature_MIN_MAX_C)<br />
                @Html.DisplayFor(model => item.Compressed_air_temperature_above_cooling_medium_temperature_C)<br />
                @Html.Display("  ")<br />
                @Html.DisplayFor(model => item.Cooling_air_flow_m_s)<br />
                @Html.DisplayFor(model => item.Maximum_cooling_air_pressure_drop_Pa)<br />
                @Html.Name("calcluate")<br />
                @Html.Display("  ")<br />
                @Html.Name("calcluate")<br />
                @Html.DisplayFor(model => item.Water_in_C_Fresh_water_cooled)  / @Html.DisplayFor(model => item.Water_out_C_Fresh_water_cooled)<br />
                @Html.Name("calcluate")<br />
                @Html.DisplayFor(model => item.Water_in_C_Sea_water_cooled)  / @Html.DisplayFor(model => item.Water__Out_C_Sea_water_cooled)<br />
                @Html.DisplayFor(model => item.Minimum_water_inlet_pressure_with_zero_ba_bar_MPa_Parallel)<br />
                @Html.DisplayFor(model => item.Maximum_inlet_pressure_barg)<br />
                @Html.DisplayFor(model => item.Water_in_out_T2_T3)<br />
                @Html.Name("calcluate")<br />
                @Html.Name("calcluate")<br />
                @Html.Name("calcluate")<br />
            </td>
        </tr>
        <tr>
            <td>
                <strong> @Html.Label("Motor and electrical values", new { @class = "lbl-danger" })</strong><br/>
                @Html.Label("Main motor (kW) Main motor protection details")<br/>
                @Html.Label("Speed of rotation (rpm) - main motor")<br/>
                @Html.Label("Fan motor (kW) EA / EW")<br/>
                @Html.Label("Speed of rotation (rpm) - fan motor")<br/>
                @Html.Label("Fuse (max) ( 1 Voltage V) (A)")<br/>
                @Html.Label("Fuse (max) ( 2 Voltage V) (A))")<br/>
                @Html.Label("Fuse (max) ( 1 Voltage V) (A)1 Voltage V) (A) Motor cos fii Motor efficiency")<br/>
                @Html.Label("Current for package  ( 2 Voltage V) (A)")<br/>
                @Html.Label("Starting current la/ln DOL / Y/D")<br/>
                @Html.Label("Control voltage (V)")<br/>

            </td>
            <td style="text-align:center">
                @Html.Name(" ")<br />
                @Html.DisplayFor(model => item.Main_motor_F_class_IP_55_kW)<br />
                @Html.DisplayFor(model => item.Speed_of_rotation_rpm)<br />
                @Html.DisplayFor(model => item.Fan_motor_kW_EA___EW)<br />
                @Html.DisplayFor(model => item.Speed_of_rotation_rpm_fan_motor)<br />
                @Html.DisplayFor(model => item.Fuse_max_1_Jännite_A)<br />
                @Html.DisplayFor(model => item.Fuse_max_2_Jännite_A)<br />
                @Html.Name("calcluate")<br />
                @Html.Name("calcluate")<br />
                @Html.DisplayFor(model => item.Starting_current_Ia_In_DOL_YD_SOFT_START)<br />
                @Html.DisplayFor(model => item.Control_voltage_V)<br />
            </td>
        </tr>
        <tr>
            <td>
                <strong> @Html.Label("General technical data")</strong> <br/>
                @Html.Label("Oil quantity (l)")<br/>
                @Html.Label("Oil carryover (mg/m³)")<br/>
                @Html.Label("Air outlet T1")<br/>
                @Html.Label("Condensate drain T2")<br/>
                <strong>@Html.Label("Noise levels* [dB(A)]")</strong><br/>
                @Html.Label("Noise Level (LpA) / Power Level (LWA) without canopy EA")<br/>
                @Html.Label("Noise Level (LpA) / Power Level (LWA) without canopy EW")<br/>
                @Html.Label("Noise Level (LpA) / Power Level (LWA) with NOVOX canopy EA ")<br/>
                @Html.Label("Noise Level (LpA) / Power Level (LWA) with NOVOX canopy EW")<br/>
                @Html.Label("Uncertainty Kpa/Kwa")<br/>
                <strong> @Html.Label("Compressor weight (kg)")</strong> <br/>
                @Html.Label("Weight without canopy")<br/>
                @Html.Label("Weight with NOVOX canopy")<br/>
                @Html.Label("General arrangement drawing (SW)")<br/>
                @Html.Label("General arrangement drawing (FW)")<br/>
                @Html.Label("General arrangement drawing with NOVOX canopy EA")<br/>
                @Html.Label("General arrangement drawing with NOVOX canopy EW")<br/>
                @Html.Label("Cable gland: Power")<br/>
                @Html.Label("Cable gland: Alarm / Signal")<br/>
            </td>
            <td style="text-align:center">
                @Html.Name(" ")<br/>
                @Html.DisplayFor(model => item.Oil_quantity_I)<br/>
                @Html.DisplayFor(model => item.Oil_content_mg_m)<br/>
                @Html.DisplayFor(model => item.Air_outlet_T1)<br/>
                @Html.DisplayFor(model => item.Condensate_drain_T4)<br/>
                @Html.Name(" ")<br/>
                @Html.DisplayFor(model => item.Pressure_Level_LpA_without_canopy_EA)<br/>
                @Html.DisplayFor(model => item.Pressure_Level_LpA_without_canopy_EW)<br/>
                @Html.DisplayFor(model => item.Pressure_Level_LpA_with_NOVOX_canopy_EA)<br/>
                @Html.DisplayFor(model => item.Pressure_Level_LpA_with_NOVOX_canopy_EW)<br/>
                @Html.Name("3")<br/>
                @Html.Name(" ")<br/>
                @Html.DisplayFor(model => item.Weight_without_canopy)<br/>
                @Html.DisplayFor(model => item.Weight_with_NOVOX_canopy)<br/>
                @Html.DisplayFor(model => item.General_arrangement_drawing_SW)<br/>
                @Html.DisplayFor(model => item.General_arrangement_drawing_FW)<br/>
                @Html.DisplayFor(model => item.General_arrangement_drawing_with_NOVOX_canopy_EA)<br/>
                @Html.DisplayFor(model => item.General_arrangement_drawing_with_NOVOX_canopy_EW)<br/>
                @Html.DisplayFor(model => item.Cable_gland_Power)<br/>
                @Html.DisplayFor(model => item.Cable_gland_Alarm_Signal)<br/>
            </td>
        </tr>
    </table>
    <br/>
    <div>
        @Html.Label("Capacity and power consumption measured according to Cagi Pneurop PN2CPTC2 and ISO 1217,Annex C")<br/>
        @Html.Label("* Noise values determined according to ISO 2151 and ISO 3744")<br/>
        @Html.Label("Extra notes:")
        @Html.Label((string)item.Extra_notes??"")<br/>

    </div>
}

