﻿@model MarineDataSheet.Datum

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">Create New DataSheet</div>
    <div class="panel-body">

        @if (TempData["MessageCreateNewDataSheet"] != null)
        {
            <p class="alert alert-success" id="successMessage">@TempData["MessageCreateNewDataSheet"]</p>
        }
        @if (TempData["MessageErrorNewDatasheet"] != null)
        {
            <p class="alert alert-danger" id="successMessage">@TempData["MessageErrorNewDatasheet"] </p>}
        @using (Html.BeginForm())
        {

            <table>
                <tr>
                    <td>
                        @Html.Label("DataSheet number:", htmlAttributes: new { @class = "control-label manadatory" })
                        @Html.TextBoxFor(model => model.Datasivun_numero, new { @class = "myclass", @onkeypress = "return true;" })<label id="latestsheetno">@ViewBag.Message</label>
                        @Html.ValidationMessageFor(model => model.Datasivun_numero, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.Label("Standard datasheet:", htmlAttributes: new { @class = "" })
                        &nbsp; &nbsp;
                        @Html.CheckBoxFor(model => model.STD, htmlAttributes: new { @checked = true })
                    </td>
                    <td>
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;@Html.Label("Datasheet revision :", htmlAttributes: new { @class = "" })
                        @Html.TextBoxFor(model => model.Datasheet_revision, new { @class = "myclass", @onkeypress = "return true;" })
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;@Html.Label("Revision valid from:", htmlAttributes: new { @class = "" })
                        @Html.TextBoxFor(model => model.Valid_from, "{0:MM/dd/yyyy}", new { @class = "myclass", @onkeypress = "return true;" })
                        @Html.ValidationMessageFor(model => model.Valid_from, "", new { @class = "text-danger" })
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;@Html.Label("Datasheet status:", htmlAttributes: new { @class = "" })
                        @{
                            List<SelectListItem> listItems = new List<SelectListItem>();
                            listItems.Add(new SelectListItem
                            {
                                Text = "In Use",
                                Value = "In Use"
                            });
                            listItems.Add(new SelectListItem
                            {
                                Text = "NotIn Use",
                                Value = "NotIn Use",
                                Selected = true
                            });

                        }
                        &nbsp; &nbsp;&nbsp; &nbsp;@Html.DropDownListFor(model => model.Datasheet_status, listItems, "-- Select Status --", new { @class = "myclass", @onkeypress = "return true;" })
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>

                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;@Html.Label("Datasheet create by:", htmlAttributes: new { @class = "" })
                        @Html.TextBoxFor(model => model.Datasheet_created_by, new { @class = "myclass", @onkeypress = "return true;" })

                    </td>
                </tr>

            </table>

            <div>
                <table>
                    <tr>
                        <td>
                            @Html.Label("Datasheet Extra note:", htmlAttributes: new { @class = "" }) &nbsp;&nbsp;&nbsp;&nbsp;
                            @Html.TextBoxFor(model => model.Lisätietoja, new { @class = "CommentClass", @onkeypress = "return true;" })

                        </td>
                    </tr>

                    <tr>
                        <td>

                            @Html.Label("Engineering Extra note:", htmlAttributes: new { @class = "" }) &nbsp;
                            @Html.TextBoxFor(model => model.Suunnittelun_kommentit, new { @class = "CommentClass", @onkeypress = "return true;" })

                        </td>
                    </tr>
                </table>
            </div>
            <hr />
            <div>

                @Html.Label("GENERAL DATA :", new { @class = "lbl-danger" })

            </div>

            <table>
                <tr>
                    <td>@Html.Label("Code:", htmlAttributes: new { @class = "" })&nbsp;</td>
                    <td> @Html.TextBoxFor(model => model.Code, new { @class = "myclass", @onkeypress = "return true;" })</td>
                    <td><strong>@Html.Name("1.Voltage:")</strong></td>
                    <td> @Html.TextBoxFor(model => model.C1_Voltage, new { @class = "myclass", @onkeypress = "return true;" })</td>
                </tr>
                <tr>
                    <td>@Html.Label("Model:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Model_No, new { @class = "myclass", @onkeypress = "return true;" })</td>
                    <td><strong>@Html.Name("1.Frequency:")</strong></td>
                    <td> @Html.TextBoxFor(model => model.C1_Frequency, new { @class = "myclass", @onkeypress = "return true;" })</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>@Html.Label("Maximum pressure (barg):", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Maximum_working_pressure_barg, new { @class = "myclass", @onkeypress = "return true;" })</td>
                    <td><strong>@Html.Name("1.Starting type:")</strong></td>
                    <td> @Html.TextBoxFor(model => model.C1_Starting_type, new { @class = "myclass", @onkeypress = "return true;" })</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>@Html.Label("Normal working pressure (barg):", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Normal_working_pressure_barg, new { @class = "myclass", @onkeypress = "return true;" })</td>
                    <td><strong>@Html.Name("2.Voltage:")</strong></td>
                    <td> @Html.TextBoxFor(model => model.C1_Voltage, new { @class = "myclass", @onkeypress = "return true;" })</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>@Html.Label("Minimum working pressure (barg):", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Minimum_working_pressure_barg, new { @class = "myclass", @onkeypress = "return true;" })</td>
                    <td><strong>@Html.Name("2.Frequency:")</strong></td>
                    <td> @Html.TextBoxFor(model => model.C2_Frequency, new { @class = "myclass", @onkeypress = "return true;" })</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>@Html.Label("Cooling:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Cooling, new { @class = "myclass", @onkeypress = "return true;" })</td>
                    <td><strong>@Html.Name("2.Starting type:")</strong></td>
                    <td> @Html.TextBoxFor(model => model.C2_Starting_type, new { @class = "myclass", @onkeypress = "return true;" })</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>@Html.Label("Maximum ambient temperature (C°):", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Maximum_ambient_temperature_C, new { @class = "myclass", @onkeypress = "return true;" })</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </table>
            <hr />
            <div>
                <strong>
                    @Html.Label("MOTOR, AIR END AND ELECTRICAL VALUES:", new { @class = "lbl-danger" })
                </strong>
            </div>

            <table>
                <tr>
                    <td>@Html.Label("Main motor : F-class, IP 55 (kW):", htmlAttributes: new { @class = "" })&nbsp;</td>
                    <td> @Html.TextBoxFor(model => model.Main_motor_F_class_IP_55_kW, new { @class = "myclass", @onkeypress = "return true;" })</td>
                    <td>@Html.Label("Voltage tolerance:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Voltage_tolerance, new { @class = "myclass", @onkeypress = "return true;" })</td>
                </tr>
                <tr>
                    <td>@Html.Label("Main motor protection details:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Main_motor_protection_details, new { @class = "myclass", @onkeypress = "return true;" })</td>
                    <td>@Html.Label("Fuse (max) (1 Jännite) A:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Fuse_max_1_Jännite_A, new { @class = "myclass", @onkeypress = "return true;" })</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>@Html.Label("Main motor temperature rise:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Main_motor_temperature_rise, new { @class = "myclass", @onkeypress = "return true;" })</td>
                    <td>@Html.Label("Control voltage (V):", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Control_voltage_V, new { @class = "myclass", @onkeypress = "return true;" })</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>@Html.Label("Speed of rotation (rpm) - main motor:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Speed_of_rotation_rpm, new { @class = "myclass", @onkeypress = "return true;" })</td>
                    <td>@Html.Label("Transmission: (B = Belt, G = Gear, D = Direct):", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Transmission_Gear_i, new { @class = "myclass", @onkeypress = "return true;" })</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>@Html.Label("Motor cos fii:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Motor_cos_fii, new { @class = "myclass", @onkeypress = "return true;" })</td>
                    <td>@Html.Label("Motor pulley:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Motor_pulley, new { @class = "myclass", @onkeypress = "return true;" })</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>@Html.Label("Motor efficiency %:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Motor_efficiency, new { @class = "myclass", @onkeypress = "return true;" })</td>
                    <td>@Html.Label("Air end pulley:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Air_end_pulley, new { @class = "myclass", @onkeypress = "return true;" })</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>@Html.Label("Fan motor (kW) EA / EW:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Fan_motor_kW_EW, new { @class = "myclass", @onkeypress = "return true;" })</td>
                    <td>@Html.Label("Male rotor speed:", htmlAttributes: new { @class = "" })</td>
                    @*<td>@Html.TextBoxFor(model => model.spee, new { @class = "myclass", @onkeypress = "return true;" })</td>*@
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>@Html.Label("Speed of rotation (rpm) - fan motor:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Maximum_ambient_temperature_C, new { @class = "myclass", @onkeypress = "return true;" })</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </table>
            <hr />
            <div>
                <strong>
                    @Html.Label("CAPACITY AND POWER CONSUMPTION:", new { @class = "lbl-danger" })
                </strong>
            </div>

            <table>
                <tr>
                    <td>@Html.Label("Capacity at normal working pressure (m³/min) min / max:", htmlAttributes: new { @class = "" })&nbsp;</td>
                    <td> @Html.TextBoxFor(model => model.Code, new { @class = "myclass", @onkeypress = "return true;" }) / @Html.TextBoxFor(model => model.Code, new { @class = "myclass", @onkeypress = "return true;" })</td>
                </tr>
                <tr>
                    <td>@Html.Label("Shaft power at normal working pressure (kW) min / max:", htmlAttributes: new { @class = "" })&nbsp;</td>
                    <td> @Html.TextBoxFor(model => model.Code, new { @class = "myclass", @onkeypress = "return true;" }) / @Html.TextBoxFor(model => model.Code, new { @class = "myclass", @onkeypress = "return true;" })</td>
                </tr>
                <tr>
                    <td>@Html.Label("Frequency min / max:", htmlAttributes: new { @class = "" })&nbsp;</td>
                    <td> @Html.TextBoxFor(model => model.Code, new { @class = "myclass", @onkeypress = "return true;" }) / @Html.TextBoxFor(model => model.Code, new { @class = "myclass", @onkeypress = "return true;" })</td>
                </tr>
            </table>
            <hr />
            <div>
                @Html.Label("COOLING:", new { @class = "lbl-danger" })
            </div>
            <table>
                <tr>
                    <td>
                        @Html.Label("Compressed air temperature above cooling medium temp C°", new { @class = "" })
                        @Html.TextBoxFor(model => model.Code, new { @class = "myclass", @onkeypress = "return true;" })
                    </td>
                </tr>
            </table>
            <div>
                @Html.Label("Air cooled:", new { @class = "lbl-danger" })
            </div>
            <table>
                <tr>
                    <td>@Html.Label("Cooling air flow (m³/s) EA :", htmlAttributes: new { @class = "" })</td>
                    <td>@Html.TextBoxFor(model => model.Code, new { @class = "myclass", @onkeypress = "return true;" })</td>
                    <td>@Html.Label("Maximum cooling air pressure drop (Pa):", htmlAttributes: new { @class = "" })</td>
                    <td>@Html.TextBoxFor(model => model.Code, new { @class = "myclass", @onkeypress = "return true;" })</td>
                </tr>
            </table>
            <div>
                @Html.Label("Water cooled:", new { @class = "lbl-danger" })
            </div>

            <table>
                <tr>
                    <td>@Html.Label("Cooling air flow (m³/s) EW :", htmlAttributes: new { @class = "" })&nbsp;</td>
                    <td> @Html.TextBoxFor(model => model.Code, new { @class = "myclass", @onkeypress = "return true;" })</td>
                    <td>@Html.Label("Maximum water inlet pressure (barg):", htmlAttributes: new { @class = "" })&nbsp;</td>
                    <td> @Html.TextBoxFor(model => model.Code, new { @class = "myclass", @onkeypress = "return true;" })</td>
                </tr>
                <tr>
                    <td>@Html.Label("Minimum water inlet pressure with zero back pressure (bar)(Serial) - FW:", htmlAttributes: new { @class = "" })&nbsp;</td>
                    <td> @Html.TextBoxFor(model => model.Code, new { @class = "myclass", @onkeypress = "return true;" })</td>
                    <td>@Html.Label("Water in / out T2 / T3:", htmlAttributes: new { @class = "" })&nbsp;</td>
                    <td> @Html.TextBoxFor(model => model.Code, new { @class = "myclass", @onkeypress = "return true;" })</td>
                </tr>
                <tr>
                    <td>@Html.Label("Minimum water inlet pressure with zero back pressure (bar)(Serial) - SW:", htmlAttributes: new { @class = "" })&nbsp;</td>
                    <td> @Html.TextBoxFor(model => model.Code, new { @class = "myclass", @onkeypress = "return true;" })</td>
                    <td>@Html.Label("Water in / water out (C°), Fresh water cooled:", htmlAttributes: new { @class = "" })&nbsp;</td>
                    <td> @Html.TextBoxFor(model => model.Code, new { @class = "myclass", @onkeypress = "return true;" })</td>
                </tr>
                <tr>
                    <td>@Html.Label("Extra factor for water flow at 60 % humidity:", htmlAttributes: new { @class = "" })&nbsp;</td>
                    <td> @Html.TextBoxFor(model => model.Code, new { @class = "myclass", @onkeypress = "return true;" })</td>
                    <td>@Html.Label("Water in / water out (C°), Sea water cooled:", htmlAttributes: new { @class = "" })&nbsp;</td>
                    <td> @Html.TextBoxFor(model => model.Code, new { @class = "myclass", @onkeypress = "return true;" })</td>
                </tr>
            </table>
            <hr />
            <div>
                @Html.Label("GENERAL TECHNICAL DATA:", new { @class = "lbl-danger" })
            </div>

            <table>
                <tr>
                    <td>@Html.Label("Oil quantity (I):", htmlAttributes: new { @class = "" })&nbsp;</td>
                    <td> @Html.TextBoxFor(model => model.Code, new { @class = "myclass", @onkeypress = "return true;" })</td>
                    <td>@Html.Label("Weight with canopy:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.C1_Voltage, new { @class = "myclass", @onkeypress = "return true;" })</td>
                </tr>
                <tr>
                    <td>@Html.Label("Oil content (mg/m³):", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Model_No, new { @class = "myclass", @onkeypress = "return true;" })</td>
                    <td>@Html.Label("General arrangement drawing with canopy EA:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.C1_Frequency, new { @class = "myclass", @onkeypress = "return true;" })</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>@Html.Label("Air outlet T1 - Air cooled:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Maximum_working_pressure_barg, new { @class = "myclass", @onkeypress = "return true;" })</td>
                    <td>@Html.Label("General arrangement drawing with canopy EW:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.C1_Starting_type, new { @class = "myclass", @onkeypress = "return true;" })</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>@Html.Label("Air outlet T1 - Water cooled:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Normal_working_pressure_barg, new { @class = "myclass", @onkeypress = "return true;" })</td>
                    <td>@Html.Label("Cable gland: Power:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.C1_Voltage, new { @class = "myclass", @onkeypress = "return true;" })</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>@Html.Label("Condensate drain T4:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Minimum_working_pressure_barg, new { @class = "myclass", @onkeypress = "return true;" })</td>
                    <td>@Html.Label("Cable gland: Alarm / Signal:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.C2_Frequency, new { @class = "myclass", @onkeypress = "return true;" })</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>@Html.Label("Noise level (LpA) / power level (LWA) with canopy EA:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Cooling, new { @class = "myclass", @onkeypress = "return true;" })</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>@Html.Label("Noise level (LpA) / power level (LWA) with canopy EW:", htmlAttributes: new { @class = "" })</td>
                    <td>@Html.TextBoxFor(model => model.Maximum_ambient_temperature_C, new { @class = "myclass", @onkeypress = "return true;" })</td>
                    <td>
                        &nbsp;
                        &nbsp;
                        &nbsp;
                    </td>
                </tr>
            </table>
            <div class="row">
                <div class="col-lg-4">
                    <input type="submit" value="Save" class="btn btn-success" />
                    @Html.ActionLink("Clear", "Index", "NewDataSheet", null, new { @class = "btn btn-danger" })

                    @Html.ActionLink("Close", "Dashboard", "ViewDashboard", null, new { @class = "btn btn-info" })

                </div>
            </div>
        }
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {

        $("#Valid_from").datepicker
            ({
                dateFormat: "mm/dd/yy",
                changeMonth: true,
                numberOfMonths: 1,
                changeYear: true,
                yearRange: "-1:+5",

            });
    });

    $(function () {
        $(".date-picker").datepicker({
            dateFormat: 'dd/mm/yy'
        });

    });
</script>
