﻿@model MarineDataSheet.RPT_GetReportData
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
}

<link href="~/Scripts/dataTablesScripts/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Scripts/dataTablesScripts/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/dataTablesScripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTablesScripts/dataTables.bootstrap4.min.js"></script>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">Data Sheet List</div>
                <div class="panel-body">
                    <table id="myTable" class="table table-striped table-bordered dt-responsive " width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Datasheet Number</th>
                                <th>Revision</th>
                                <th>Code</th>
                                <th>Model</th>
                                <th>Barg</th>
                                <th>Extra notes</th>
                                <th>Enigneering notes</th>
                                <th>Tuotto</th>
                                <th>DataSheet Status</th>
                                <th>View Details</th>
                            </tr>
                        </thead>
                        <tbody id="tblData"></tbody>
                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Datasheet No</th>
                                <th>Revision</th>
                                <th>Code</th>
                                <th>Model</th>
                                <th>Barg</th>
                                <th>Extra notes</th>
                                <th>Eng. notes</th>
                                <th>Tuotto</th>
                                <th>Status</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            var datatableinstance = $("#myTable").DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "search": true,
                "searchable": true,
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                
                "ajax": {
                    "url": "/ViewDataSheet/LoadData",
                    "type": "POST",
                    "datatype": "json"
                },

                "columnDefs":
                    [{
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    },
                    {
                        "targets": [10],
                        "visible": true,
                        "searchable": false,
                        "orderable": false
                    },

                    {
                        "targets": [8],
                        "visible": true,
                        "searchable": false,
                        "orderable": false
                    }
                    ],
                
                "columns": [
                    { "data": "Laskuri", "name": "Laskuri", "autoWidth": true },
                    { "data": "Datasivun_numero", "name": "Datasivun_numero", "autoWidth": true },
                    { "data": "Datasheet_revision", "name": "Datasheet_revision", "autoWidth": true },
                    { "data": "Code", "name": "Code", "autoWidth": true },
                    { "data": "Model_No", "name": "Model_No", "autoWidth": true },
                    { "data": "Maximum_working_pressure_barg", "name": "Maximum_working_pressure_barg", "autoWidth": true },
                    { "data": "Lisätietoja", "name": "Lisätietoja", "autoWidth": true },
                    { "data": "Suunnittelun_kommentit", "name": "Suunnittelun_kommentit", "autoWidth": true },
                    { "data": "Capacity_at_normal_working_pressure_m_min", "name": "Capacity_at_normal_working_pressure_m__min", "autoWidth": true },
                    { "data": "Datasheet_status", "name": "Datasheet_status", "autoWidth": true },
                    {
                        "render": function (data, type, full, meta)
                        {

                            return "<a href='#' class='btn btn-info' onclick=ShowUserDetails('" + full.Laskuri + "'); >View</a>&nbsp;" +
                                "<a href='#' class='btn btn-info' onclick=Print('" + full.Laskuri + "'); >PDF</a>&nbsp;" +
                                "<a href='#' class='btn btn-info' onclick=PrintDoc('" + full.Laskuri + "'); >Doc</a>";

                        }
                    }
                ],
                initComplete: function () {
                    var api = this.api();
                    $('.filterhead', api.table().header()).each(function (i) {
                        var column = api.column(i);
                        var select = $('<select><option value=""></option></select>')
                            .appendTo($(this).empty())
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );

                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>');
                        });
                    });
                }

            });

            $("#myTable thead th").each(function () {
                var Title = $('#myTable tfoot th').eq($(this).index()).text();
                $(this).html('<input id="txtsearch" type="text" class="form-control" size="7px;" placeholder="' + Title + '"/>');
            });
            datatableinstance.columns().every(function () {
                var datatablecolum = this;
                var SearchTexBoxes = $(this.header()).find('input');
                SearchTexBoxes.on('keyup change', function () {
                    datatablecolum.search(this.value).draw();
                });
                SearchTexBoxes.on('click', function (e) {

                    e.stopPropagation();
                })
            });

        }
        );

    </script>



    <script type="text/javascript">

    function ShowUserDetails(ID) {
        var url = '@Url.Content("~/")' + "ExportDatasheet/Print/"+ ID;
        $.ajax({
            type: "POST",
            //url: url,
            data: '{Laskuri: "' + ID + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response)
            {
                window.open(url);
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
        function Print(ID) {
        var url = '@Url.Content("~/")' + "ExportDatasheet/Print/"+ ID;
        $.ajax({
            type: "POST",
            //url: url,
            data: '{Laskuri: "' + ID + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response)
            {
                window.open(url);
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
     function PrintDoc(ID) {
         var url = '@Url.Content("~/")' + "ExportDatasheet/Export/"+ ID;
        $.ajax({
            type: "POST",
            //url: url,
            data: '{Laskuri: "' + ID + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response)
            {
                window.open(url);
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
    </script>



