﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
}
<link href="~/Scripts/dataTablesScripts/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Scripts/dataTablesScripts/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/dataTablesScripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTablesScripts/dataTables.bootstrap4.min.js"></script>


<style type="text/css">
    .toolbar {
        float: left;
    }

    #scrolly {
        width: 1000px;
        height: 450px;
        overflow: auto;
        overflow-y: hidden;
        margin: 0 auto;
        white-space: nowrap;
    }
</style>
@using (Html.BeginForm("MoveNotInUse", "Data", FormMethod.Post))
{
    if (TempData["MessageModifyDataSheet"] != null)
        {
            <p class="alert alert-success" id="successMessage">@TempData["MessageModifyDataSheet"]</p>
        }
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">Data Sheet List</div>
                <div class="text-right">
                    <button type="submit" id="btbmovenotinuse" value="Delete" class="btn btn-sm btn-danger rounded-0" onclick="return confirm('Are you sure?')"><i class="fa fa-trash-o"></i> Move To Not In-Use</button>

                </div>

                <div class="panel-body">

                    <table id="myTable" class="table table-striped table-bordered dt-responsive table-hover" width="100%" cellspacing="0">

                        <thead>
                            <tr>

                                <th>ID</th>
                                <th>Datasheet Number</th>
                                <th>Code</th>
                                <th>Model</th>
                                <th>Voltage</th>
                                <th>Frequency</th>
                                <th>Starting method</th>
                                <th>Voltage</th>
                                <th>Frequency</th>
                                <th>Starting method</th>
                                <th>Barg</th>
                                <th>Cooling</th>
                                <th>C°</th>
                                <th>Yield</th>
                                <th>View Details</th>

                            </tr>
                        </thead>
                        <tbody id="tblData"></tbody>
                        <tfoot>
                            <tr>

                                <th>ID</th>
                                <th>Datasheet No</th>
                                <th>Code</th>
                                <th>Model</th>
                                <th>1.Voltage</th>
                                <th>1.Frequency</th>
                                <th>1.Starting method</th>
                                <th>2.Voltage</th>
                                <th>2.Frequency</th>
                                <th>2.Starting method</th>
                                <th>Barg</th>
                                <th>Cooling</th>
                                <th>C°</th>
                                <th>Air Delivery</th>
                                <th>View Download</th>

                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>
        </div>
    </div>
}


<script>

    $(document).ready(function () {
        $("#btbmovenotinuse").attr("disabled", "disabled");

        var datatableinstance = $("#myTable").DataTable({

           
            "processing": true, // for show progress bar
            "language": {
                processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> '
            },   
            
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "search": true,
            "searchable": true,
            "lengthMenu": [[100, 200, 500], [100, 200, 500]],
            "ajax": {
                "url": "/data/LoadData",
                "type": "POST",
                "datatype": "json"
            },
        
            "columnDefs":
                [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false,

                },


                {
                    "targets": [14],
                    "visible": true,
                    "searchable": false,
                    "orderable": false

                },

                ],
            "columns": [
                { "data": "Laskuri", "name": "Laskuri", "autoWidth": true },
                { "data": "Datasivun_numero", "name": "Datasivun_numero", "autoWidth": true },
                { "data": "Code", "name": "Code", "autoWidth": true },
                { "data": "Model_No", "name": "Model_No", "autoWidth": true },
                { "data": "C1_Voltage", "name": "C1_Voltage", "autoWidth": true },
                { "data": "C1_Frequency", "name": "C1_Frequency", "autoWidth": true },
                { "data": "C1_Starting_type", "name": "C1_Starting_type", "autoWidth": true },
                { "data": "C2_Voltage", "name": "C2_Voltage", "autoWidth": true },
                { "data": "C2_Frequency", "name": "C2_Frequency", "autoWidth": true },
                { "data": "C2_Starting_type", "name": "C2_Starting_type", "autoWidth": true },
                { "data": "Maximum_working_pressure_barg", "name": "Maximum_working_pressure_barg", "autoWidth": true },
                { "data": "Cooling", "name": "Cooling", "autoWidth": true },
                { "data": "Maximum_ambient_temperature_C", "name": "Maximum_ambient_temperature_C", "autoWidth": true },
               /* { "data": "Capacity_at_normal_working_pressure_m_min", "name": "Capacity_at_normal_working_pressure_m_min", "autoWidth": true },*/
                { "data": "Capacity_at_normal_working_pressure_m_min", render: $.fn.dataTable.render.number('', '.', 2, '') },

                {
                    "render": function (data, type, full, meta) {

                        return "<i class='glyphicon glyphicon-file' data-toggle='tooltip' title='View DataSheet' onclick=ShowUserDetails('" + full.Laskuri + "')></i>&nbsp;" +
                            "<i class='fa fa-file-pdf-o' data-toggle='tooltip' title='Print PDF' onclick=Print('" + full.Laskuri + "')></i>&nbsp;" +
                            "<i class='fa fa-file-word-o' data-toggle='tooltip' title='Print Doc' onclick=PrintDoc('" + full.Laskuri + "')></i>&nbsp;" +
                            "<input type='checkbox' id='chctxtid' name='ID' value='" + full.Laskuri + "' onclick=GetSelected('" + full.Laskuri + "');></input>";
                    }
                }
            ]


        });



        $("#myTable thead th").each(function () {
            var Title = $('#myTable tfoot th').eq($(this).index()).text();
            $(this).html('<input id="txtsearch" type="text" class="form-control" size="7px;" placeholder="' + Title + '"/>');

        });
        datatableinstance.columns().every(function () {
            var datatablecolum = this;
            var SearchTexBoxes = $(this.header()).find('input');
            SearchTexBoxes.on('keyup change', function () {
                datatablecolum.search(this.value).draw();
            });
            SearchTexBoxes.on('click', function (e) {

                e.stopPropagation();
            })
        });

      

    });

</script>
<script type="text/javascript">
    function ShowUserDetails(ID) {
        var url = '@Url.Content("~/")' + "Data/ViewDatasheet/"+ ID;
        $.ajax({
            type: "POST",
            url: url,
            data: '{Laskuri: "' + ID + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response)
            {
                window.location.href = url;
                //$('#contentBody').html(response);
                //$('#myModal').modal('show');
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
    function Print(ID) {
        var url = '@Url.Content("~/")' + "ExportDatasheet/Print/"+ ID;
        $.ajax({
            type: "POST",
            //url: url,
            data: '{Laskuri: "' + ID + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response)
            {
                window.open(url);
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
    function PrintDoc(ID) {
         var url = '@Url.Content("~/")' + "ExportDatasheet/Export/"+ ID;
        $.ajax({
            type: "POST",
            //url: url,
            data: '{Laskuri: "' + ID + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response)
            {
                window.open(url);
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
    function GetSelected(ID) {
        //Create an Array.
        var selected = new Array();

        //Reference the Table.
        var tblFruits = document.getElementById("myTable");

        //Reference all the CheckBoxes in Table.
        var chks = tblFruits.getElementsByTagName("input");

        // Loop and push the checked CheckBox value in Array.
        for (var i = 0; i < chks.length; i++) {
            if (chks[i].checked) {

                selected.push(ID);
            }
        }

        //Display the selected CheckBox values.
        if (selected.length > 0) {
            $('#btbmovenotinuse').prop('disabled', false);
        }

    };
</script>



@*<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">

                @Html.ActionLink("Close", "Index", "Data", null, new { @class = "btn btn-info" })
            </div>
            <div class="modal-body" id="contentBody">
            </div>
            <div class="modal-footer">
                @Html.ActionLink("Close", "Index", "Data", null, new { @class = "btn btn-info" })
            </div>
        </div>
    </div>
</div>*@

