﻿@model MarineDataSheet.Datum
@{
    ViewBag.Title = "ViewDatasheet";
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
}
<div class="panel panel-default">

    <a href="/Data/Index" class="fa fa-arrow-circle-left">Back To DashBoard</a>
    <div class="panel-heading">ViewDataSheet</div>
    <div class="panel-body">

        @using (Html.BeginForm("Modifydata", "Data", FormMethod.Post))
        {
            if (TempData["MessageModifyDataSheet"] != null)
            {
                <p class="alert alert-success" id="successMessage">@TempData["MessageModifyDataSheet"]</p>
            }
            @Html.AntiForgeryToken();
            @Html.ValidationSummary(true)

            @Html.HiddenFor(model => model.Laskuri)
            var finalMoleValue = "";
            if (Model.Transmission == "B")
            {
                var bValue = (double)(Model.Speed_of_rotation_rpm * Model.Motor_pulley / Model.Air_end_pulley);
                var moleValue = Math.Round(bValue);
                finalMoleValue = moleValue.ToString();
            }
            else if (Model.Transmission == "D")
            {
                var dValue = Model.Speed_of_rotation_rpm;
                finalMoleValue = dValue.ToString();

            }
            else if (Model.Transmission == "G")
            {
                var gValue = (double)(Model.Speed_of_rotation_rpm *(double) Model.Transmission_Gear_i ?? 1 * Model.Speed_of_rotation_rpm);
                var moleValue = Math.Round(gValue);
                finalMoleValue = moleValue.ToString();
            }
            string RoleId = Session["RoleID"].ToString();
            string AllowEdit = "";
            if (RoleId == "3" || RoleId == "1")
            {
                AllowEdit = "return true;"; /// set modification or role based
            }
            else
            {
                AllowEdit = "return false;";

            }
            <table>
                <tr>
                    <td>
                        @Html.Label("DataSheet number:", htmlAttributes: new { @class = "control-label manadatory" })
                        @Html.TextBoxFor(model => model.Datasivun_numero, new { @class = "myclass", @onkeypress = AllowEdit })<label id="latestsheetno">@ViewBag.Message</label>
                        @Html.ValidationMessageFor(model => model.Datasivun_numero, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.Label("Standard datasheet:", htmlAttributes: new { @class = "" })
                        &nbsp; &nbsp;
                        @Html.CheckBoxFor(model => model.STD, htmlAttributes: new { @checked = true })
                    </td>
                    <td>
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;@Html.Label("Datasheet revision :", htmlAttributes: new { @class = "" })
                        @Html.TextBoxFor(model => model.Datasheet_revision, new { @class = "myclass", @onkeypress = AllowEdit })
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;@Html.Label("Revision valid from:", htmlAttributes: new { @class = "" })
                        @Html.TextBoxFor(model => model.Valid_from, "{0:MM/dd/yyyy}", new { @class = "myclass", @onkeypress = AllowEdit })
                        @Html.ValidationMessageFor(model => model.Valid_from, "", new { @class = "text-danger" })
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;@Html.Label("Datasheet status:", htmlAttributes: new { @class = "" })
                        @{
                            List<SelectListItem> listItems = new List<SelectListItem>();

                            if (Model.Datasheet_status == "In Use")
                            {
                                listItems.Add(new SelectListItem
                                {
                                    Text = "In Use",
                                    Value = "In Use",
                                    Selected = true
                                });
                                listItems.Add(new SelectListItem
                                {
                                    Text = "NotIn Use",
                                    Value = "NotIn Use"
                                });
                            }
                            else
                            {

                                listItems.Add(new SelectListItem
                                {
                                    Text = "NotIn Use",
                                    Value = "NotIn Use",
                                    Selected = true
                                });
                                listItems.Add(new SelectListItem
                                {
                                    Text = "In Use",
                                    Value = "In Use"
                                });
                            }

                        }
                        &nbsp; &nbsp;&nbsp; &nbsp;@Html.DropDownListFor(model => model.Datasheet_status, listItems, "-- Select Status --", new { @class = "myclass", @onkeypress = AllowEdit })
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;@Html.Label("Datasheet create by:", htmlAttributes: new { @class = "" })
                        @Html.TextBoxFor(model => model.Datasheet_created_by, new { @class = "myclass", @onkeypress = AllowEdit })

                    </td>
                </tr>
            </table>
            <div>
                <table>
                    <tr>
                        <td>
                            @Html.Label("Datasheet Extra note:", htmlAttributes: new { @class = "" }) &nbsp;&nbsp;&nbsp;&nbsp;
                            @Html.TextBoxFor(model => model.Lisätietoja, new { @class = "CommentClass", @onkeypress = AllowEdit })

                        </td>
                    </tr>
                    <tr>
                        <td>

                            @Html.Label("Engineering Extra note:", htmlAttributes: new { @class = "" }) &nbsp;
                            @Html.TextBoxFor(model => model.Suunnittelun_kommentit, new { @class = "CommentClass", @onkeypress = AllowEdit })

                        </td>
                    </tr>
                </table>
            </div>
            <hr />
            <div>
                @Html.Label("GENERAL DATA :", new { @class = "lbl-danger" })
            </div>
            <table>
                <tr>
                    <td>@Html.Label("Code:", htmlAttributes: new { @class = "" })&nbsp;</td>
                    <td> @Html.TextBoxFor(model => model.Code, new { @class = "myclass", @onkeypress = AllowEdit })</td>
                    <td><strong>@Html.Name("1.Voltage:")</strong></td>
                    <td> @Html.TextBoxFor(model => model.C1_Voltage, new { @class = "myclass", @onkeypress = AllowEdit })</td>
                </tr>
                <tr>
                    <td>@Html.Label("Model:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Model_No, new { @class = "myclass", @onkeypress = AllowEdit })</td>
                    <td><strong>@Html.Name("1.Frequency:")</strong></td>
                    <td> @Html.TextBoxFor(model => model.C1_Frequency, new { @class = "myclass", @onkeypress = AllowEdit })</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>@Html.Label("Maximum pressure (barg):", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Maximum_working_pressure_barg, new { @class = "myclass", @onkeypress = AllowEdit })</td>
                    <td><strong>@Html.Name("1.Starting type:")</strong></td>
                    <td> @Html.TextBoxFor(model => model.C1_Starting_type, new { @class = "myclass", @onkeypress = AllowEdit })</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>@Html.Label("Normal working pressure (barg):", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Normal_working_pressure_barg, new { @class = "myclass", @onkeypress = AllowEdit })</td>
                    <td><strong>@Html.Name("2.Voltage:")</strong></td>
                    <td> @Html.TextBoxFor(model => model.C2_Voltage, new { @class = "myclass", @onkeypress = AllowEdit })</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>@Html.Label("Minimum working pressure (barg):", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Minimum_working_pressure_barg, new { @class = "myclass", @onkeypress = AllowEdit })</td>
                    <td><strong>@Html.Name("2.Frequency:")</strong></td>
                    <td> @Html.TextBoxFor(model => model.C2_Frequency, new { @class = "myclass", @onkeypress = AllowEdit })</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>@Html.Label("Cooling:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Cooling, new { @class = "myclass", @onkeypress = AllowEdit })</td>
                    <td><strong>@Html.Name("2.Starting type:")</strong></td>
                    <td> @Html.TextBoxFor(model => model.C2_Starting_type, new { @class = "myclass", @onkeypress = AllowEdit })</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>@Html.Label("Maximum ambient temperature (C°):", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Maximum_ambient_temperature_C, new { @class = "myclass", @onkeypress = AllowEdit })</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </table>
            <hr />
            <div>
                <strong>
                    @Html.Label("MOTOR, AIR END AND ELECTRICAL VALUES:", new { @class = "lbl-danger" })
                </strong>
            </div>
            <table>
                <tr>
                    <td>@Html.Label("Main motor : F-class, IP 55 (kW):", htmlAttributes: new { @class = "" })&nbsp;&nbsp;@Html.Label("Syötä", htmlAttributes: new { @class = "" })&nbsp;&nbsp;@Html.DisplayName(Model.C1_Frequency ?? "")&nbsp;@Html.Label("Hz:n arvo", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Main_motor_F_class_IP_55_kW, new { @class = "myclass", @onkeypress = AllowEdit })</td>
                    <td>@Html.Label("Voltage tolerance:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Voltage_tolerance, new { @class = "myclass", @onkeypress = AllowEdit })</td>
                </tr>
                <tr>
                    <td>@Html.Label("Main motor protection details:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Main_motor_protection_details, new { @class = "myclass", @onkeypress = AllowEdit })</td>
                    <td>@Html.Label("Fuse (max) (1 Jännite) A:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Fuse_max_1_Jännite_A, new { @class = "myclass", @onkeypress = AllowEdit })</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>@Html.Label("Main motor temperature rise:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Main_motor_temperature_rise, new { @class = "myclass", @onkeypress = AllowEdit })</td>
                    <td>@Html.Label("Control voltage (V):", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Control_voltage_V, new { @class = "myclass", @onkeypress = AllowEdit })</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>@Html.Label("Speed of rotation (rpm) - main motor:", htmlAttributes: new { @class = "" })&nbsp;&nbsp;@Html.Label("Syötä", htmlAttributes: new { @class = "" })&nbsp;&nbsp;@Html.Label(Model.C1_Frequency ?? "")&nbsp;@Html.Label("Hz:n arvo", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Speed_of_rotation_rpm, new { @class = "myclass", @onkeypress = AllowEdit })</td>
                    <td>@Html.Label("Transmission: (B = Belt, G = Gear, D = Direct):", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Transmission, new { @class = "myclass", @onkeypress = AllowEdit })</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>@Html.Label("Motor cos fii:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Motor_cos_fii, new { @class = "myclass", @onkeypress = AllowEdit })</td>
                    <td>@Html.Label("Motor pulley:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Motor_pulley, new { @class = "myclass", @onkeypress = AllowEdit })</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>@Html.Label("Motor efficiency %:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Motor_efficiency, new { @class = "myclass", @onkeypress = AllowEdit })</td>
                    <td>@Html.Label("Air end pulley:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Air_end_pulley, new { @class = "myclass", @onkeypress = AllowEdit })</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>@Html.Label("Fan motor (kW) EA / EW:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Fan_motor_kW_EA, new { @class = "smallmyclass", @onkeypress = AllowEdit }) / @Html.TextBoxFor(model => model.Fan_motor_kW_EW, new { @class = "smallmyclass", @onkeypress = AllowEdit })</td>
                    <td>@Html.Label("Male rotor speed:", htmlAttributes: new { @class = "" })</td>
                    <td>@Html.Label(finalMoleValue, new { @class = "myclass", @onkeypress = AllowEdit })</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>@Html.Label("Speed of rotation (rpm) - fan motor:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Speed_of_rotation_rpm_fan_motor, new { @class = "myclass", @onkeypress = AllowEdit })</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </table>
            <hr />
            <div>
                <strong>
                    @Html.Label("CAPACITY AND POWER CONSUMPTION:", new { @class = "lbl-danger" })
                </strong>
            </div>
            <table>
                <tr>
                    <td></td>
                    <td>
                        <i class='btn btn-info' onclick="ViewData()">More accurate output and power values ​​for SA machines</i>
                    </td>
                </tr>
                <tr>
                    <td>@Html.Label("Capacity at normal working pressure (m³/min) min / max:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Capacity_at_normal_working_pressure_m_min_min, new { @class = "smallmyclass", @onkeypress = AllowEdit }) / @Html.TextBoxFor(model => model.Capacity_at_normal_working_pressure_m_min, new { @class = "smallmyclass", @onkeypress = AllowEdit })</td>
                </tr>
                <tr>
                    <td>@Html.Label("Shaft power at normal working pressure (kW) min / max:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Shaft_power_at_normal_working_pressure_kW_min, new { @class = "smallmyclass", @onkeypress = AllowEdit }) / @Html.TextBoxFor(model => model.Shaft_power_at_normal_working_pressure_kW, new { @class = "smallmyclass", @onkeypress = AllowEdit })</td>
                </tr>
                <tr>
                    <td>@Html.Label("Frequency min / max:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Frequency_min, new { @class = "smallmyclass", @onkeypress = AllowEdit }) / @Html.TextBoxFor(model => model.Frequency_max, new { @class = "smallmyclass", @onkeypress = AllowEdit })</td>
                </tr>
            </table>
            <hr />
            <div>
                @Html.Label("COOLING:", new { @class = "lbl-danger" })
            </div>
            <table>
                <tr>
                    <td>
                        @Html.Label("Compressed air temperature above cooling medium temp C°", new { @class = "" })
                        @Html.TextBoxFor(model => model.Compressed_air_temperature_above_cooling_medium_temperature_C, new { @class = "myclass", @onkeypress = AllowEdit })
                    </td>
                </tr>
            </table>
            <div>
                @Html.Label("Air cooled:", new { @class = "lbl-danger" })
            </div>
            <table>
                <tr>
                    <td>@Html.Label("Cooling air flow (m³/s) EA :", htmlAttributes: new { @class = "" })</td>
                    <td>@Html.TextBoxFor(model => model.Cooling_air_flow_m_s, new { @class = "myclass", @onkeypress = AllowEdit })</td>
                    <td>@Html.Label("Maximum cooling air pressure drop (Pa):", htmlAttributes: new { @class = "" })</td>
                    <td>@Html.TextBoxFor(model => model.Maximum_cooling_air_pressure_drop_Pa, new { @class = "myclass", @onkeypress = AllowEdit })</td>
                </tr>
            </table>
            <div>
                @Html.Label("Water cooled:", new { @class = "lbl-danger" })
            </div>

            <table>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><i class='btn btn-info' onclick="ShowCorrectionFactor()">After Cooler Correction Factor</i></td>
                </tr>
                <tr>
                    <td>@Html.Label("Cooling air flow (m³/s) EW :", htmlAttributes: new { @class = "" })&nbsp;</td>
                    <td> @Html.TextBoxFor(model => model.Cooling_air_flow_m_s_water_cooled, new { @class = "myclass", @onkeypress = AllowEdit })</td>
                    <td>@Html.Label("Maximum water inlet pressure (barg):", htmlAttributes: new { @class = "" })&nbsp;</td>
                    <td> @Html.TextBoxFor(model => model.Maximum_inlet_pressure_barg, new { @class = "myclass", @onkeypress = AllowEdit })</td>
                </tr>
                <tr>
                    <td>@Html.Label("Minimum water inlet pressure with zero back pressure (bar)(Serial) - FW:", htmlAttributes: new { @class = "" })&nbsp;</td>
                    <td> @Html.TextBoxFor(model => model.Minimum_water_inlet_pressure_with_zero_back_bar_MPa_Serial, new { @class = "myclass", @onkeypress = AllowEdit })</td>
                    <td>@Html.Label("Water in / out T2 / T3:", htmlAttributes: new { @class = "" })&nbsp;</td>
                    <td> @Html.TextBoxFor(model => model.Water_in_out_T2_T3, new { @class = "myclass", @onkeypress = AllowEdit })</td>
                </tr>
                <tr>
                    <td>@Html.Label("Minimum water inlet pressure with zero back pressure (bar)(Serial) - SW:", htmlAttributes: new { @class = "" })&nbsp;</td>
                    <td>@Html.TextBoxFor(model => model.Minimum_water_inlet_pressure_with_zero_back_Serial_sea, new { @class = "myclass", @onkeypress = AllowEdit })</td>
                    <td>@Html.Label("Water in / water out (C°), Fresh water cooled:", htmlAttributes: new { @class = "" })&nbsp;</td>
                    <td>@Html.TextBoxFor(model => model.Water_in_C_Fresh_water_cooled, new { @class = "smallmyclass", @onkeypress = AllowEdit })/@Html.TextBoxFor(model => model.Water_out_C_Fresh_water_cooled, new { @class = "smallmyclass", @onkeypress = AllowEdit })</td>
                </tr>
                <tr>
                    <td>@Html.Label("Extra factor for water flow at 60 % humidity:", htmlAttributes: new { @class = "" })&nbsp;</td>
                    <td> @Html.TextBoxFor(model => model.Extra_factor_for_water_flow_at_60_humidity_fresh, new { @class = "myclass", @onkeypress = AllowEdit })</td>
                    <td>@Html.Label("Water in / water out (C°), Sea water cooled:", htmlAttributes: new { @class = "" })&nbsp;</td>
                    <td> @Html.TextBoxFor(model => model.Water_in_C_Sea_water_cooled, new { @class = "smallmyclass", @onkeypress = AllowEdit })/ @Html.TextBoxFor(model => model.Water_out_C_Sea_water_cooled, new { @class = "smallmyclass", @onkeypress = AllowEdit })</td>
                </tr>
            </table>
            <hr />
            <div>
                @Html.Label("GENERAL TECHNICAL DATA:", new { @class = "lbl-danger" })
            </div>
            <table>
                <tr>
                    <td>@Html.Label("Oil quantity (I):", htmlAttributes: new { @class = "" })&nbsp;</td>
                    <td> @Html.TextBoxFor(model => model.Oil_quantity_I, new { @class = "myclass", @onkeypress = AllowEdit })</td>
                    <td>@Html.Label("Weight with canopy:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Weight_with_NOVOX_canopy, new { @class = "myclass", @onkeypress = AllowEdit })</td>
                </tr>
                <tr>
                    <td>@Html.Label("Oil content (mg/m³):", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Oil_content_mg_m, new { @class = "myclass", @onkeypress = AllowEdit })</td>
                    <td>@Html.Label("General arrangement drawing with canopy EA:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.General_arrangement_drawing_with_NOVOX_canopy_EA, new { @class = "myclass", @onkeypress = AllowEdit })</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>@Html.Label("Air outlet T1 - Air cooled:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Air_outlet_T1, new { @class = "myclass", @onkeypress = AllowEdit })</td>
                    <td>@Html.Label("General arrangement drawing with canopy EW:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.General_arrangement_drawing_with_NOVOX_canopy_EW, new { @class = "myclass", @onkeypress = AllowEdit })</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>@Html.Label("Air outlet T1 - Water cooled:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Air_outlet_T1_water_cooled, new { @class = "myclass", @onkeypress = AllowEdit })</td>
                    <td>@Html.Label("Cable gland: Power:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Cable_gland_Power, new { @class = "myclass", @onkeypress = AllowEdit })</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>@Html.Label("Condensate drain T4:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Condensate_drain_T4, new { @class = "myclass", @onkeypress = AllowEdit })</td>
                    <td>@Html.Label("Cable gland: Alarm / Signal:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Cable_gland_Alarm_Signal, new { @class = "myclass", @onkeypress = AllowEdit })</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>@Html.Label("Noise level (LpA) / power level (LWA) with canopy EA:", htmlAttributes: new { @class = "" })</td>
                    <td> @Html.TextBoxFor(model => model.Pressure_Level_LpA_with_NOVOX_canopy_EA, new { @class = "myclass", @onkeypress = AllowEdit })</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>@Html.Label("Noise level (LpA) / power level (LWA) with canopy EW:", htmlAttributes: new { @class = "" })</td>
                    <td>@Html.TextBoxFor(model => model.Pressure_Level_LpA_with_NOVOX_canopy_EW, new { @class = "myclass", @onkeypress = AllowEdit })</td>
                    <td>
                        &nbsp;
                        &nbsp;
                        &nbsp;
                    </td>
                </tr>
            </table>
            <div class="row">
                <div class="col-lg-4">
                    @if (RoleId == "3" || RoleId == "1")
                    {

                        <input type="submit" id="btnShow" class="btn btn-success" value="Modify" />
                    }
                    <a ID="myModal1" href="#" class="btn btn-warning" onclick="@("CustomPopUpWindow('"+Model.Laskuri+"')")">
                        <span class="glyphicon glyphicon-duplicate"></span>
                        Create Clone
                    </a>
                    <input type="submit" id="btnSave" class='btn btn-info' value="Save" />
                </div>
            </div>
            <div id="myModalViewstatus" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" onclick="CloseViewstatus();">&times;</button>
                            <strong>
                                DataSheet No: @Model.Datasivun_numero  With Status:@Model.Datasheet_status
                            </strong>
                        </div>
                        <div class="modal-body">
                            Are You Sure !You Want to Update the Status??
                        </div>
                        <div class="modal-footer">
                            <input type="button" value="Yes" id="btbyes" class="btn btn-danger" onclick="Modify();" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="myModalAfterCoolerCorrectionFactor">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" onclick="CloseCoolerCorrectionFactor();">&times;</button>

                        </div>
                        <div class="modal-body" id="contentBodyCorrectionFactor">

                        </div>

                    </div>
                </div>
            </div>
            <div id="myModalViewData" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" onclick="CloseViewData();">&times;</button>

                        </div>
                        <div class="modal-body">
                            <table>
                                <tr><td>@Html.Label("Capacity at normal working pressure (m³/min) max)", htmlAttributes: new { @class = "" })  @Html.TextBoxFor(model => model.Capacity_at_normal_working_pressure_m_min, new { @class = "smallmyclass", @onkeypress = AllowEdit })</td></tr>
                                <tr><td>@Html.Label("Capacity at normal working pressure (m³/min) 75%", htmlAttributes: new { @class = "" }) @Html.TextBoxFor(model => model.Capacity_at_normal_working_pressure_m_min_75, new { @class = "smallmyclass", @onkeypress = AllowEdit })</td></tr>
                                <tr><td>@Html.Label("Capacity at normal working pressure (m³/min) 50%", htmlAttributes: new { @class = "" }) @Html.TextBoxFor(model => model.Capacity_at_normal_working_pressure_m_min_50, new { @class = "smallmyclass", @onkeypress = AllowEdit })</td></tr>
                                <tr><td>@Html.Label("Capacity at normal working pressure (m³/min) 25%", htmlAttributes: new { @class = "" })@Html.TextBoxFor(model => model.Capacity_at_normal_working_pressure_m_min_25, new { @class = "smallmyclass", @onkeypress = AllowEdit })</td></tr>
                                <tr><td>@Html.Label("Capacity at normal working pressure (m³/min) min)", htmlAttributes: new { @class = "" })@Html.TextBoxFor(model => model.Capacity_at_normal_working_pressure_m_min_min, new { @class = "smallmyclass", @onkeypress = AllowEdit })</td></tr>
                                <tr><td>@Html.Label("Shaft power at normal working pressure (kW) max)", htmlAttributes: new { @class = "" }) @Html.TextBoxFor(model => model.Shaft_power_at_normal_working_pressure_kW, new { @class = "smallmyclass", @onkeypress = AllowEdit }) </td></tr>
                                <tr><td>@Html.Label("Shaft power at normal working pressure (kW) 75%", htmlAttributes: new { @class = "" }) @Html.TextBoxFor(model => model.Shaft_power_at_normal_working_pressure_kW_75, new { @class = "smallmyclass", @onkeypress = AllowEdit })</td></tr>
                                <tr><td>@Html.Label("Shaft power at normal working pressure (kW) 50%", htmlAttributes: new { @class = "" }) @Html.TextBoxFor(model => model.Shaft_power_at_normal_working_pressure_kW_50, new { @class = "smallmyclass", @onkeypress = AllowEdit })</td></tr>
                                <tr><td>@Html.Label("Shaft power at normal working pressure (kW) 50%", htmlAttributes: new { @class = "" }) @Html.TextBoxFor(model => model.Shaft_power_at_normal_working_pressure_kW_25, new { @class = "smallmyclass", @onkeypress = AllowEdit })</td></tr>
                                <tr><td>@Html.Label("Shaft power at normal working pressure (kW) min", htmlAttributes: new { @class = "" }) @Html.TextBoxFor(model => model.Shaft_power_at_normal_working_pressure_kW_min, new { @class = "smallmyclass", @onkeypress = AllowEdit })</td></tr>
                                <tr></tr>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        }

    </div>

</div>
<script type="text/javascript">
    $(document).ready(function () {

        $("#Valid_from").datepicker
            ({
                dateFormat: "mm/dd/yy",
                changeMonth: true,
                numberOfMonths: 1,
                changeYear: true,
                yearRange: "-1:+5",

            });

        $('#btnShow').click(function () {
            if (confirm('Are you sure you want to Modify the Records?')) {
                // Save it!
                console.log('Thing was saved to the database.');
            } else {
                // Do nothing!
                event.preventDefault();
            }
        });

    });

    $(function () {
        $(".date-picker").datepicker({
            dateFormat: 'dd/mm/yy'
        });

    });
    $(document).ready(function () {
        $("#btnSave").hide();
        $("#latestsheetno").hide();
    });
</script>
<script>
    function CustomPopUpWindow(ID) {
        $("#Datasivun_numero").val("");
        $("#myModal1").hide();
        $("#btnSave").show();
        $("#Datasivun_numero").focus();
        $("#btnShow").attr("disabled", "disabled");
        $("#latestsheetno").show();
    }
</script>
<script type="text/javascript">
    $(function () {
        $("#Datasheet_status").change(function () {
            $('#myModalViewstatus').modal('show');
        });

        $("#btbAfterCoolerCorrection").click(function () {
            $('#myModalAfterCoolerCorrectionFactor').modal('show');
            $("#Datasivun_numero").focus();
        });
    });
    function CloseCoolerCorrectionFactor() {
        $('#myModalAfterCoolerCorrectionFactor').modal('toggle');

    }

    function CloseViewstatus() {

        $('#myModalViewstatus').modal('toggle');

    }

    function CloseViewData() {

        $('#myModalViewData').modal('toggle');
    }

    function Modify() {
        $('#myModalViewstatus').modal('hide');

        $("#btnShow").focus();
    }
    function ShowCorrectionFactor() {
        var url = '@Url.Content("~/")' + "Aftercooler_power_correction_factor/Index/";
        $.ajax({
            type: "POST",
            url: url,
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response)
            {
                $('#contentBodyCorrectionFactor').html(response);
                $('#myModalAfterCoolerCorrectionFactor').modal('show');
                $("#Datasivun_numero").focus();
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }

    function ViewData() {
        $('#myModalViewData').modal('show');
        $("#Datasivun_numero").focus();
    }
</script>