﻿@model MarineDataSheet.Registration

<div class="panel panel-default">
    <div class="panel-heading"></div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-4">
                <label for="Name" class="col-form-label">Name:</label>
                @Html.DisplayFor(model => model.Name)
            </div>
            <div class="col-lg-4">
                <label for="Mobileno" class="col-form-label">Mobileno:</label>
                @Html.DisplayFor(model => model.Mobileno)

            </div>
            <div class="col-lg-4">
                <label for="EmailID" class="col-form-label">EmailID:</label>
                @Html.DisplayFor(model => model.EmailID)
            </div>
        </div>
        <div class="row">

            <div class="col-lg-4">
                <label for="Gender" class="col-form-label">Gender:</label>
                @Html.DisplayFor(model => model.Gender)
            </div>
            <div class="col-lg-4">
                <label for="Birthdate" class="col-form-label">Birthdate:</label>
                @Html.DisplayFor(model => model.Birthdate)
            </div>
            <div class="col-lg-4">
                <label for="DateofJoining" class="col-form-label">DateofJoining:</label>
                @Html.DisplayFor(model => model.DateofJoining)
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <label for="Username" class="col-form-label">Username:</label>
                @Html.DisplayFor(model => model.Username)
            </div>
            <div class="col-lg-4">
                <label for="EmployeeID" class="col-form-label">EmployeeID:</label>
                @Html.DisplayFor(model => model.EmployeeID)
            </div>
        </div>
    </div>
</div>
