﻿
@{ ViewBag.Title = "Roles";
                Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml"; }

<link href="~/Scripts/dataTablesScripts/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Scripts/dataTablesScripts/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/dataTablesScripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTablesScripts/dataTables.bootstrap4.min.js"></script>

<style type="text/css">
    #scrolly {
        width: 1000px;
        height: 450px;
        overflow: auto;
        overflow-y: hidden;
        margin: 0 auto;
        white-space: nowrap;
    }
</style>



<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Users</div>
            <div class="panel-body">

                <table id="myTable" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>RegistrationID</th>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Mobileno</th>
                            <th>EmailID</th>
                            <th>View Details</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<script>$(document).ready(function () {
        $("#myTable").DataTable({
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/AllUsers/LoadAdminsData",
                "type": "POST",
                "datatype": "json"
            },
            "columnDefs":
            [{
                "targets": [0],
                "visible": false,
                "searchable": false
            },
            {
                "targets": [5],
                "visible": true,
                "searchable": false,
                "orderable": false
            }],
            "columns": [
                { "data": "RegistrationID", "name": "RegistrationID", "autoWidth": true },
                { "data": "Name", "name": "Name", "autoWidth": true },
                 { "data": "Username", "name": "Username", "autoWidth": true },
                  { "data": "Mobileno", "name": "Mobileno", "autoWidth": true },
                   { "data": "EmailID", "name": "EmailID", "autoWidth": true },
                         {
                             "render": function (data, type, full, meta) {

                                 return "<a href='#' class='btn btn-info' onclick=ShowUserDetails('" + full.RegistrationID + "'); >View</a>";

                             }
                         },

            ]

        });
    });</script>

<script type="text/javascript">

    function ShowUserDetails(ID) {
        var url = '@Url.Content("~/")' + "AllUsers/AdminDetails";
        $.ajax({
            type: "POST",
            url: url,
            data: '{RegistrationID: "' + ID + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response) {
                $('#contentBody').html(response);
                $('#myModal').modal('show');
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
</script>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Admin Detail</h4>
            </div>
            <div class="modal-body" id="contentBody">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>